<app-loading-page *ngIf="isLoadingPage"></app-loading-page>
<div style="height: 100%; display: block;">
    <p-menubar [model]="items" styleClass="bg-white" style="background: #fff;">
        <ng-template pTemplate="start">
          <a (click)="onClickHome()" style="cursor: pointer;">
            <img src="../../../assets/layout/images/k1.png" height="100" class="ml-4"/>
          </a>
        </ng-template>
        <ng-template pTemplate="end">
          <!-- <input type="text" pInputText placeholder="Search" class="w-full" class="mr-4"/> -->
          <!-- <p-button label="Đăng nhập" styleClass="p-button-outlined p-button-lg px-4 py-3" class="mr-8"></p-button> -->
        </ng-template>
    </p-menubar>
    <div style="margin: 2rem 4rem;">
        <div class="p-fluid p-formgrid">
            <div class="grid flex w-full mt-2" style="align-items: center;">
                <div class="col-4">
                    <div style="display: flex;">
                      <input-search
                          [(keyword)]="filter.keyword"
                          (_onChange)="setPage()"
                          class="w-full" style="width: 100%;">
                      </input-search>
                      <!-- <div style="display: flex;">
                        <button pButton pRippletype="button" label="Tìm kiếm" icon="pi pi-search" style="margin-left: -2rem; padding-left: 2rem; padding-right: 2rem; border-radius: 0px 4px 4px 0px; width: 10rem;"></button>
                      </div> -->
                    </div>
                </div>
                <div class="col-8">
                    <ng-container filter>
                      <div #divFilter class="flex flex-column sm:flex-row w-full" style="padding: 2rem 0 2rem 0;">
                        <!-- <form-multi-select
                          style="flex: 1; padding: 0.5rem 0.75rem;"
                          class="col-2"
                          [label]="'Chọn tỉnh thành'"
                          [floatLabel]="true"
                          
                        ></form-multi-select> -->

                        <span class="p-float-label b-custom ml-2 col-3">
                          <p-dropdown 
                              id="ownerFilter" name="ownerFilter" 
                              [showClear]="true" placeholder="Tất cả" [options]="ownerFilters" optionLabel="name" optionValue="code" [(ngModel)]="filter.ownerId"
                              (onChange)="changeFilter($event.value)">
                          </p-dropdown>
                          <label class="font-normal" for="ownerFilter">Chủ đầu tư</label>
                        </span>
                        <!-- <form-multi-select
                          style="flex: 1;"
                          class="col-2"
                          [label]="'Loại BĐS'"
                          [floatLabel]="true"
                          [options]="productTypes" 
                          optionLabel="value"  optionValue="id" [showClear]="true"
                          [(ngModel)]="filter.productTypes" (onChange)="changeFilter($event.value)"
                        ></form-multi-select> -->
                        <span class="p-float-label b-custom col-3">
                          <p-multiSelect 
                            [options]="productTypes" 
                            optionLabel="value"  optionValue="id" 
                            [(ngModel)]="filter.productTypes" (onChange)="changeFilter($event.value)"
                            placeholder="Tất cả">
                          </p-multiSelect>
                          <label class="font-normal" for="ownerFilter">Loại BĐS</label>
                        </span>
                        <!-- <form-multi-select
                          style="flex: 1;"
                          class="col-2"
                          [label]="'Số phòng ngủ'"
                          [floatLabel]="true"
                          
                        ></form-multi-select> -->
                        <!-- <form-multi-select
                          style="flex: 1;"
                          class="col-2"
                          [label]="'Khoảng giá'"
                          [floatLabel]="true"
                          
                        ></form-multi-select> -->
                        <span class="p-float-label b-custom ml-2 col-3">
                          <p-dropdown id="statusFilter" name="statusFilter" 
                              [showClear]="true" placeholder="Tất cả" [options]="statusFilters" optionLabel="name"
                              optionValue="code" [(ngModel)]="filter.status"
                              (onChange)="changeFilter($event.value)">
                          </p-dropdown>
                          <label class="font-normal" for="statusFilter">Trạng thái</label>
                      </span>
                      </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div style="margin: 2rem 4rem;">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <div style="font-size: 1.2rem;">Có <span style="font-size: 1.3rem; font-weight: 600;">{{page.totalItems}}</span> dự án thuộc <span style="font-size: 1.3rem; font-weight: 600;">KHome gợi ý cho bạn:</span></div>
        <!-- <div>
          <span class="p-float-label b-custom ml-2">
            <label class="font-normal" for="ownerFilter">Sắp xếp theo</label>
          </span>
        </div> -->
      </div>
    </div>
    <div style="margin-top: 2rem; margin-bottom: 4rem; margin-left: 4rem; margin-right:4rem;">
        <div class="p-fluid p-formgrid">
          <div class="p-fluid p-formgrid">
            <div class="grid flex w-full mt-2">
              <div class="col-3" style="padding-right: 1rem;" *ngFor="let row of rows">
                <div style="overflow: hidden;">
                  <!-- <img src="../../assets/layout/images/product/TestHome.jpg" alt="" style="width: 100%;"> -->
                  <p-galleria [(value)]="images" [showIndicators]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOption" >
                    <ng-template pTemplate="item" let-item>
                      <div class="img-hover-zoom">
                        <img class="" [src]="item.itemImageSrc" style="width: 100%; display: block;" />
                      </div>
                    </ng-template>
                  </p-galleria>
                </div>
                <a style="cursor: pointer;" (click)="onProjectBtnClick(row.id)">
                  <div>
                    <div class="flex" style="align-items: baseline; justify-content: space-between; color: #000;">
                      <span style="font-size: 1.2rem; font-weight: 600; padding-right: 2rem;">{{row.name}}</span>
                      <span style="font-size: 1.2rem;" class="pi pi-heart"></span>
                    </div>
                    <div style="margin-top: 1rem; color: #6f6f6f;">{{row.address}}</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div style="display: flex; justify-content: center; margin-top: 3rem; margin-bottom: 4rem;">
            <p-button label="Xem thêm" styleClass="p-button-raised p-button-lg px-5 py-3"></p-button>
        </div>
    </div>
    <!-- Footer -->
  <div style="background-color: rgba(0,0,0,0.04);">
    <div style="margin-left: 4rem; margin-right:4rem; margin-top: 2rem; padding-bottom: 2rem;">
      <div class="p-fluid p-formgrid">
        <div class="grid flex w-full mt-2">
          <div class="col-4" style="color: #000; margin-top: 2rem;">
            <div>
              <img src="../../assets/layout/images/k1.png" height="100"/>
            </div>
            <div>
              <div style="display: flex; align-items: center; margin-top: 1rem;">
                <div style="margin-right: 1rem;">
                  <img src="assets/layout/images/footer/location-pin-svgrepo-com.png" style="height: 1rem;"/>
                </div>
                <div>Tầng 1, Tòa văn phòng T26, KĐT Times City, 458 Minh Khai, Phường Vĩnh Tuy, Quận Hai Bà Trưng, Thành phố Hà Nội</div>
              </div>
              <div style="display: flex; align-items: center; margin-top: 1rem;">
                <div style="margin-right: 1rem;">
                  <img src="assets/layout/images/footer/headphone-alt-svgrepo-com.png" style="height: 1rem;"/>
                </div>
                <div>Hotline: 1800 646 466</div>
              </div>
              <div style="display: flex; align-items: center; margin-top: 1rem;">
                <div style="margin-right: 1rem;">
                  <img src="assets/layout/images/footer/mail-svgrepo-com.png" style="height: 1rem;"/>
                </div>
                <div>Email: cskh@onehousing.vn</div>
              </div>
            </div>
          </div>
          <div class="col-4" style="color: #000; margin-top: 2rem;">
            <div class="grid flex w-full">
              <div class="col-4">
                <div style="font-size: 1.2rem; font-weight: 600;">Dịch vụ</div>
                <div>
                  <div class="info-text" style="color: #4c566a; margin-top: 2rem;">Tư vấn bán</div>
                  <div class="info-text" style="color: #4c566a; margin-top: 1rem;">Vay thế chấp</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Định giá căn nhà</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Thông tin dự án</div>
                </div>
              </div>
              <div class="col-4">
                <div style="font-size: 1.2rem; font-weight: 600;">Dịch vụ</div>
                <div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 2rem;">Tư vấn bán</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Vay thế chấp</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Định giá căn nhà</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Thông tin dự án</div>
                </div>
              </div>
              <div class="col-4">
                <div style="font-size: 1.2rem; font-weight: 600;">Dịch vụ</div>
                <div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 2rem;">Tư vấn bán</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Vay thế chấp</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Định giá căn nhà</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Thông tin dự án</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4" style="color: #000; margin-top: 2rem;">
            <div class="grid flex w-full">
              <div class="col-6">
                <div style="font-size: 1.2rem; font-weight: 600;">Dịch vụ</div>
                <div>
                  <div class="info-text" style="color: #4c566a; margin-top: 2rem;">Tư vấn bán</div>
                  <div class="info-text" style="color: #4c566a; margin-top: 1rem;">Vay thế chấp</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Định giá căn nhà</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Thông tin dự án</div>
                </div>
              </div>
              <div class="col-6">
                <div style="font-size: 1.2rem; font-weight: 600;">Dịch vụ</div>
                <div>
                  <div style="color: #4c566a;  margin-top: 2rem; display: flex; align-items: center;">
                    <span class="pi pi-facebook" style="margin-right: 1rem;"></span>
                    <div class="info-text">Facebook</div>
                  </div>
                  <div style="color: #4c566a;  margin-top: 1rem; display: flex; align-items: center;">
                    <span class="pi pi-instagram" style="margin-right: 1rem;"></span>
                    <div class="info-text">Instagram</div>
                  </div>
                  <div style="color: #4c566a;  margin-top: 1rem; display: flex; align-items: center;">
                    <span class="pi pi-youtube" style="margin-right: 1rem;"></span>
                    <div class="info-text">Youtube</div>
                  </div>
                  <div style="color: #4c566a;  margin-top: 1rem; display: flex; align-items: center;">
                    <span class="pi pi-facebook" style="margin-right: 1rem;"></span>
                    <div class="info-text">Spotify</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</div>