<app-loading-page *ngIf="isLoadingPage"></app-loading-page>

<div class="">
  <!-- <p-menubar [model]="items" styleClass="bg-white" style="background: #fff;">
    <ng-template pTemplate="start">
      <a (click)="onClickHome()" style="cursor: pointer;">
        <img src="../../../assets/layout/images/k1.png" height="100" class="ml-4"/>
      </a>
    </ng-template>
    <ng-template pTemplate="end">
      <app-topbar></app-topbar>
    </ng-template>
  </p-menubar> -->

  <p-menubar styleClass="bg-white" style="background: #fff;">
    <ng-template pTemplate="start">
      <a (click)="onClickHome()" style="cursor: pointer;">
        <img src="../../../assets/layout/images/k1.png" height="100" class="ml-4" style="margin-left: 2.2rem !important;"/>
      </a>
    </ng-template>
    <ng-template pTemplate="end">
      <app-topbar></app-topbar>
    </ng-template>
  </p-menubar>
  <!-- <app-topbar></app-topbar> -->
  <div style="display: block;">
    <div style="display:flex; flex: 0 0 auto; flex-direction: row;">
      <div style="margin-top: 2rem; margin-left: 4rem; flex: 1;">
        <div style="font-size: 3rem; line-height: 5rem; color: black;">
          <div>
            <span>Cùng nhau vươn tới đỉnh cao</span>
          </div>
          <div>
            <span>Thịnh vượng & Hạnh phúc</span>
          </div>
        </div>
        <p-tabView styleClass="custom-tabview" [(activeIndex)]="activeIndex" (onChange)="changeTab($event)">
          <p-tabPanel [header]="'product'" *ngIf="isGranted([PermissionRealStateConst.RealStateMoBan_ThongTinChung])">
              <ng-template pTemplate="header">
                  <span> Căn đang bán </span>
              </ng-template>
              <div style="display: flex;">
                <input type="text" pInputText placeholder="Tìm căn hộ" class="w-full" style="width: 100%;"/>
                <div style="display: flex;">
                  <a style="cursor: pointer;" (click)="onProductFindBtnClick()">
                    <button pButton pRippletype="button" label="Tìm kiếm" icon="pi pi-search" style="margin-left: -2rem; padding-left: 2rem; padding-right: 2rem; border-radius: 0px 4px 4px 0px; width: 10rem; line-height: 3;"></button>
                  </a>
                </div>
              </div>
              <ng-container filter>
                <div #divFilter class="flex flex-column sm:flex-row w-full" style="padding: 2rem 0 2rem 0;">
                  <span class="p-float-label b-custom ml-2">
                    <p-dropdown 
                        id="ownerFilter" name="ownerFilter" [style]="{ width: '10rem' }"
                        [showClear]="true" placeholder="Tất cả" [options]="ownerFilters" optionLabel="name" optionValue="code" [(ngModel)]="filter.ownerId"
                        (onChange)="changeFilter($event.value)">
                    </p-dropdown>
                    <label class="font-normal" for="ownerFilter">Chọn tỉnh thành</label>
                  </span>
                  <span class="p-float-label b-custom ml-2">
                    <p-multiSelect 
                      [options]="productTypes" [style]="{ width: '10rem' }"
                      optionLabel="value"  optionValue="id" [showClear]="true"
                      [(ngModel)]="filters.productTypes" (onChange)="changeFilter($event.value)"
                      placeholder="Tất cả">
                    </p-multiSelect>
                    <label class="font-normal" for="ownerFilter">Loại BĐS</label>
                  </span>
                  <span class="p-float-label b-custom ml-2">
                    <p-multiSelect 
                      [options]="ProjectOverviewConst.roomTypes" [style]="{ width: '10rem' }"
                      optionLabel="value"  optionValue="id" [showClear]="true"
                      [(ngModel)]="filters.roomTypes" (onChange)="changeFilter($event.value)"
                      placeholder="Tất cả">
                  </p-multiSelect>
                    <label class="font-normal" for="ownerFilter">Số phòng ngủ</label>
                  </span>
                  <span class="p-float-label b-custom ml-2">
                    <p-dropdown 
                        id="ownerFilter" name="ownerFilter" [style]="{ width: '10rem' }"
                        [showClear]="true" placeholder="Tất cả" [options]="ownerFilters" optionLabel="name" optionValue="code" [(ngModel)]="filter.ownerId"
                        (onChange)="changeFilter($event.value)">
                    </p-dropdown>
                    <label class="font-normal" for="ownerFilter">Khoảng giá</label>
                  </span>
                  
                </div>
              </ng-container>
          </p-tabPanel>
          <p-tabPanel [header]="'project'" *ngIf="isGranted([PermissionRealStateConst.RealStateMoBan_ThongTinChung])">
            <ng-template pTemplate="header">
                <span style="font-weight: 600;"> Dự án </span>
            </ng-template>
            
              <div style="display: flex;">
                <input type="text" pInputText placeholder="Tìm dự án" class="w-full" style="width: 100%;"/>
                <div style="display: flex;">
                  <a style="cursor: pointer;" (click)="onProjectFindBtnClick()">
                    <button pButton pRippletype="button" label="Tìm kiếm" icon="pi pi-search" style="margin-left: -2rem; padding-left: 2rem; padding-right: 2rem; border-radius: 0px 4px 4px 0px; width: 10rem; line-height: 3;"></button>
                  </a>
                </div>
              </div>
              
              <ng-container filter>
                <div #divFilter class="flex flex-column sm:flex-row w-full" style="padding: 2rem 0 2rem 0;">
                  <span class="p-float-label b-custom ml-2">
                    <p-dropdown 
                        id="ownerFilter" name="ownerFilter" [style]="{ width: '13rem' }"
                        [showClear]="true" placeholder="Tất cả" [options]="ownerFilters" optionLabel="name" optionValue="code" [(ngModel)]="filters.ownerId"
                        (onChange)="changeFilter($event.value)">
                    </p-dropdown>
                    <label class="font-normal" for="ownerFilter">Chọn tỉnh thành</label>
                  </span>
                  <span class="p-float-label b-custom ml-2">
                    <p-multiSelect 
                      [options]="ProjectOverviewConst.productTypes" [style]="{ width: '13rem' }"
                      optionLabel="value"  optionValue="id" [showClear]="true"
                      [(ngModel)]="filters.productTypes" (onChange)="changeFilter($event.value)"
                      placeholder="Tất cả">
                    </p-multiSelect>
                    <label class="font-normal" for="ownerFilter">Loại BĐS</label>
                  </span>
                  <span class="p-float-label b-custom ml-2">
                    <p-dropdown 
                        id="ownerFilter" name="ownerFilter" [style]="{ width: '13rem' }"
                        [showClear]="true" placeholder="Tất cả" [options]="ownerFilters" optionLabel="name" optionValue="code" [(ngModel)]="filters.ownerId"
                        (onChange)="changeFilter($event.value)">
                    </p-dropdown>
                    <label class="font-normal" for="ownerFilter">Khoảng giá</label>
                  </span>
                  
                </div>
              </ng-container>
          </p-tabPanel>
        </p-tabView>
      <div style="display: flex; margin-top: 2rem; width: 30rem; justify-content: space-between; align-items: center;">
        <a style="cursor: pointer;" (click)="onProjectFindBtnClick()">
          <span style="color: #000; font-size: 2rem; font-weight: 600; line-height: 4rem;">370+</span>
          <div style="display: flex; color: #6f6f6f; align-items: center;">
            <span style="font-size: 1.2rem; margin-right: 1rem;">dự án</span>
            <span style="font-size: 1.2rem" class="pi pi-arrow-up-right"></span>
          </div>
        </a>
        <div style="border-left: 1px solid #6f6f6f; height: 2.5rem;"></div>
        <a style="cursor: pointer;" (click)="onProductFindBtnClick()">
          <span style="color: #000; font-size: 2rem; font-weight: 600; line-height: 4rem;">886,000+</span>
          <div style="display: flex; color: #6f6f6f; align-items: center;">
            <span style="font-size: 1.2rem; margin-right: 1rem;">BĐS đã xác thực</span>
            <span style="font-size: 1.2rem" class="pi pi-arrow-up-right"></span>
          </div>
        </a>
      </div>
      </div>
      <div style="flex: 1;">
        <img src="../../assets/layout/images/banner.jpg" alt="" style="margin-top: -9rem; max-width: 100%;">
      </div>
    </div>
  </div>

  <!-- Feature -->
  <div class="" style="margin-left: 4rem; margin-right:4rem; margin-top: 8rem;">
    <!-- <div style="display: flex; margin-top: 2rem;">
      <div style="padding: 1rem 0 1rem 0; margin-right: 4rem; cursor: pointer;">
        <span class="pi pi-thumbs-up" style="margin-bottom: 1rem; font-size: 1.3rem;"></span>
        <div style="font-size: 1.3rem;">Phù hợp nhất</div>
      </div>
      <div style="padding: 1rem 0 1rem 0; margin-right: 4rem; cursor: pointer;">
        <span class="pi pi-eye" style="margin-bottom: 1rem; font-size: 1.3rem;"></span>
        <div style="font-size: 1.3rem;">Xem gần đây</div>
      </div>
      <div style="padding: 1rem 0 1rem 0; margin-right: 4rem; cursor: pointer;">
        <span class="pi pi-heart" style="margin-bottom: 1rem; font-size: 1.3rem;"></span>
        <div style="font-size: 1.3rem;">Căn yêu thích</div>
      </div>
    </div> -->
    <p-tabView styleClass="custom-tabview" [(activeIndex)]="activeIndexPlus" (onChange)="changeTabSuggest($event)">
      <!-- pause tạm -->
      <!-- <p-tabPanel [header]="'product'" *ngIf="isGranted([PermissionRealStateConst.RealStateMoBan_ThongTinChung])">
          <ng-template pTemplate="header">
              <span> Căn đang bán </span>
          </ng-template>
        <p-autoComplete [(ngModel)]="selectedCountry" [forceSelection]="true" [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field="name"></p-autoComplete>
      </p-tabPanel> -->
      <p-tabPanel [header]="'fit'">
        <ng-template pTemplate="header">
            <!-- <span style="font-weight: 600;"> Dự án </span> -->
            <div style="padding: 1rem 0 1rem 0; margin-right: 4rem; cursor: pointer;">
              <span class="pi pi-thumbs-up" style="margin-bottom: 1rem; font-size: 1.3rem;"></span>
              <div style="font-size: 1.3rem;">Phù hợp nhất</div>
            </div>
        </ng-template>
        <div class="p-fluid p-formgrid">
          <div class="grid flex w-full mt-2">
            
            <div class="col-3" style="padding-right: 1rem;" *ngFor="let row of rows">
              <div style="overflow: hidden;">
                <!-- <img src="../../assets/layout/images/product/TestHome.jpg" alt="" style="width: 100%;"> -->
                <p-galleria [(value)]="row.productItemMedias" [showIndicators]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOption" >
                  <ng-template pTemplate="item" let-item>
                    <div class="img-hover-zoom">
                      <img class="" [src]="baseUrl+'/'+item.urlImage" style="width: 100%; display: block; height: 18rem;" />
                    </div>
                  </ng-template>
                </p-galleria>
              </div>
              <a (click)="onBtnProductItemClick(row.id)" style="cursor: pointer;">
                <div>
                  <div class="flex" style="align-items: baseline; justify-content: space-between;">
                    <span style="font-size: 1.2rem; font-weight: 600; padding-right: 2rem; color: #000;">{{row.name}}</span>
                    <!-- <span style="font-size: 1.2rem;" class="pi pi-heart"></span> -->
                  </div>
                  <div style="margin-top: 1rem;"></div>
                  <div class="flex" style="margin-top: 1rem; align-items: baseline; color: #6f6f6f;">
                    <div style="margin-right: 1rem; display: flex;">
                      <div style="margin-right: 0.2rem; padding-top: 0.2rem;">
                        <img src="assets/layout/images/stairs-up-svgrepo-com.png" style="width: 100%; height: 1rem;"/>
                      </div>
                      <span>{{row.numberFloor}} tầng</span>
                    </div>
                    <div style="margin-right: 1rem; display: flex; align-items: baseline;">
                      <div style="margin-right: 0.2rem; padding-top: 0.2rem;">
                        <img src="assets/layout/images/product/icon/area-svgrepo-com.png" style="width: 100%;  height: 1rem;"/>
                      </div>
                      <span>{{row.priceArea}}m<sup>2</sup></span>
                    </div>
                    <!-- <div style="margin-right: 1rem; display: flex; align-items: baseline;">
                      <div style="margin-right: 0.2rem; padding-top: 0.2rem;">
                        <img src="assets/layout/images/product/icon/view-horizont-svgrepo-com.png" style="width: 100%;  height: 1rem;"/>
                      </div>
                      <span>{{row.doorDirection}}</span>
                    </div> -->
                  </div>
                  <div style="margin-top: 1rem; display: flex; justify-content: space-between;">
                    <div>
                      <strong style="margin-right: 0.5rem; font-size: 1.2rem; color: #094bf4;">{{row.price / 1000000000 | number :'1.0-2'}}tỷ</strong>
                      <span style="color: #000;">{{ row.unitPrice / 1000000 }} triệu/m<sup>2</sup></span>
                    </div>
                    <div>
                      <!-- <p-button label="So sánh" styleClass="p-button-outlined p-button-lg px-3 py-2"></p-button> -->
                      <!-- <button pButton pRippletype="button" label="So sánh" style="padding-left: 2rem; padding-right: 2rem; border-radius: 0px 4px 4px 0px; width: 10rem; line-height: 3; border-color: #094bf4;
                      font-size: 1rem;
                      font-weight: 600;"></button> -->
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div style="display: flex; justify-content: center; margin-top: 3rem; margin-bottom: 4rem;">
          <!-- <p-button label="Xem thêm" styleClass="p-button-raised p-button-lg px-5 py-3"></p-button> -->
        </div>
        
      </p-tabPanel>
      <!-- <p-tabPanel [header]="'recently'" *ngIf="isGranted([PermissionRealStateConst.RealStateMoBan_ThongTinChung])">
        <ng-template pTemplate="header">
            <div style="padding: 1rem 0 1rem 0; margin-right: 4rem; cursor: pointer;">
              <span class="pi pi-eye" style="margin-bottom: 1rem; font-size: 1.3rem;"></span>
              <div style="font-size: 1.3rem;">Xem gần đây</div>
            </div>
        </ng-template>
        <div style="height: 50vh;">
          <div style="display: flex; justify-content: center; margin-top: 3rem; margin-bottom: 4rem;">
            <p-button label="Xem thêm" styleClass="p-button-raised p-button-lg px-5 py-3"></p-button>
          </div>
        </div>
        
      </p-tabPanel> -->
      <!-- <p-tabPanel [header]="'favourite'" *ngIf="isGranted([PermissionRealStateConst.RealStateMoBan_ThongTinChung])">
        <ng-template pTemplate="header">
            <div style="padding: 1rem 0 1rem 0; margin-right: 4rem; cursor: pointer;">
              <span class="pi pi-heart" style="margin-bottom: 1rem; font-size: 1.3rem;"></span>
              <div style="font-size: 1.3rem;">Căn yêu thích</div>
            </div>
        </ng-template>
        <div style="height: 50vh;">
          <div style="display: flex; justify-content: center; margin-top: 3rem; margin-bottom: 4rem;">
            <p-button label="Xem thêm" styleClass="p-button-raised p-button-lg px-5 py-3"></p-button>
          </div>
        </div>
        
      </p-tabPanel> -->
    </p-tabView>
    
    <!-- List sản phẩm -->
    <!-- <div class="p-fluid p-formgrid">
      <div class="grid flex w-full mt-2">
        <div class="col-3" style="padding-right: 1rem;">
          <div style="overflow: hidden;">
            <p-galleria [(value)]="images" [showIndicators]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOption" >
              <ng-template pTemplate="item" let-item>
                <div class="img-hover-zoom">
                  <img class="" [src]="item.itemImageSrc" style="width: 100%; display: block;" />
                </div>
              </ng-template>
            </p-galleria>
          </div>
          <div>
            <div class="flex" style="align-items: baseline;">
              <span style="font-size: 1.2rem; font-weight: 600; padding-right: 2rem;">Căn 2PN toà S2.01 - The Sapphire - Vinhomes Smart City</span>
              <span style="font-size: 1.2rem;" class="pi pi-heart"></span>
            </div>
            <div style="margin-top: 1rem;">Q. Nam Từ Liêm, TP. Hà Nội</div>
            <div class="flex" style="margin-top: 1rem; align-items: baseline;">
              <div style="margin-right: 1rem; display: flex;">
                <div>
                  <img src="assets/layout/images/stairs-up-svgrepo-com.png" style="width: 100%; height: 1rem;"/>
                </div>
                <span>4 tầng</span>
              </div>
              <div style="margin-right: 1rem; display: flex; align-items: baseline;">
                <div>
                  <img src="assets/layout/images/product/icon/area-svgrepo-com.png" style="width: 100%;  height: 1rem;"/>
                </div>
                <span>127.5m<sup>2</sup></span>
              </div>
              <div style="margin-right: 1rem; display: flex; align-items: baseline;">
                <div>
                  <img src="assets/layout/images/product/icon/view-horizont-svgrepo-com.png" style="width: 100%;  height: 1rem;"/>
                </div>
                <span>Tây Bắc</span>
              </div>
            </div>
            <div style="margin-top: 1rem; display: flex; justify-content: space-between;">
              <div>
                <strong style="margin-right: 0.5rem; font-size: 1.2rem; color: #094bf4;">14.XX tỷ</strong>
                <span style="color: #000;">XX triệu/m<sup>2</sup></span>
              </div>
              <div>
                <p-button label="So sánh" styleClass="p-button-outlined p-button-lg px-3 py-2"></p-button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3" style="padding-right: 1rem;">
          <div style="overflow: hidden;">
            <p-galleria [(value)]="images" [showIndicators]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOption" >
              <ng-template pTemplate="item" let-item>
                <div class="img-hover-zoom">
                  <img class="" [src]="item.itemImageSrc" style="width: 100%; display: block;" />
                </div>
              </ng-template>
            </p-galleria>
          </div>
          <div>
            <div class="flex" style="align-items: baseline;">
              <span style="font-size: 1.2rem; font-weight: 600; padding-right: 2rem;">Căn 2PN toà S2.01 - The Sapphire - Vinhomes Smart City</span>
              <span style="font-size: 1.2rem;" class="pi pi-heart"></span>
            </div>
            <div style="margin-top: 1rem;">Q. Nam Từ Liêm, TP. Hà Nội</div>
            <div class="flex" style="margin-top: 1rem; align-items: baseline;">
              <div style="margin-right: 1rem; display: flex;">
                <div>
                  <img src="assets/layout/images/stairs-up-svgrepo-com.png" style="width: 100%; height: 1rem;"/>
                </div>
                <span>4 tầng</span>
              </div>
              <div style="margin-right: 1rem; display: flex; align-items: baseline;">
                <div>
                  <img src="assets/layout/images/product/icon/area-svgrepo-com.png" style="width: 100%;  height: 1rem;"/>
                </div>
                <span>127.5m<sup>2</sup></span>
              </div>
              <div style="margin-right: 1rem; display: flex; align-items: baseline;">
                <div>
                  <img src="assets/layout/images/product/icon/view-horizont-svgrepo-com.png" style="width: 100%;  height: 1rem;"/>
                </div>
                <span>Tây Bắc</span>
              </div>
            </div>
            <div style="margin-top: 1rem; display: flex; justify-content: space-between;">
              <div>
                <strong style="margin-right: 0.5rem; font-size: 1.2rem; color: #094bf4;">14.XX tỷ</strong>
                <span style="color: #000;">XX triệu/m<sup>2</sup></span>
              </div>
              <div>
                <p-button label="So sánh" styleClass="p-button-outlined p-button-lg px-3 py-2"></p-button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3" style="padding-right: 1rem;">
          <div style="overflow: hidden;">
            <p-galleria [(value)]="images" [showIndicators]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOption" >
              <ng-template pTemplate="item" let-item>
                <div class="img-hover-zoom">
                  <img class="" [src]="item.itemImageSrc" style="width: 100%; display: block;" />
                </div>
              </ng-template>
            </p-galleria>
          </div>
          <div>
            <div class="flex" style="align-items: baseline;">
              <span style="font-size: 1.2rem; font-weight: 600; padding-right: 2rem;">Căn 2PN toà S2.01 - The Sapphire - Vinhomes Smart City</span>
              <span style="font-size: 1.2rem;" class="pi pi-heart"></span>
            </div>
            <div style="margin-top: 1rem;">Q. Nam Từ Liêm, TP. Hà Nội</div>
            <div class="flex" style="margin-top: 1rem; align-items: baseline;">
              <div style="margin-right: 1rem; display: flex;">
                <div>
                  <img src="assets/layout/images/stairs-up-svgrepo-com.png" style="width: 100%; height: 1rem;"/>
                </div>
                <span>4 tầng</span>
              </div>
              <div style="margin-right: 1rem; display: flex; align-items: baseline;">
                <div>
                  <img src="assets/layout/images/product/icon/area-svgrepo-com.png" style="width: 100%;  height: 1rem;"/>
                </div>
                <span>127.5m<sup>2</sup></span>
              </div>
              <div style="margin-right: 1rem; display: flex; align-items: baseline;">
                <div>
                  <img src="assets/layout/images/product/icon/view-horizont-svgrepo-com.png" style="width: 100%;  height: 1rem;"/>
                </div>
                <span>Tây Bắc</span>
              </div>
            </div>
            <div style="margin-top: 1rem; display: flex; justify-content: space-between;">
              <div>
                <strong style="margin-right: 0.5rem; font-size: 1.2rem; color: #094bf4;">14.XX tỷ</strong>
                <span style="color: #000;">XX triệu/m<sup>2</sup></span>
              </div>
              <div>
                <p-button label="So sánh" styleClass="p-button-outlined p-button-lg px-3 py-2"></p-button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3" style="padding-right: 1rem;">
          <div style="overflow: hidden;">
            <p-galleria [(value)]="images" [showIndicators]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOption" >
              <ng-template pTemplate="item" let-item>
                <div class="img-hover-zoom">
                  <img class="" [src]="item.itemImageSrc" style="width: 100%; display: block;" />
                </div>
              </ng-template>
            </p-galleria>
          </div>
          <div>
            <div class="flex" style="align-items: baseline;">
              <span style="font-size: 1.2rem; font-weight: 600; padding-right: 2rem;">Căn 2PN toà S2.01 - The Sapphire - Vinhomes Smart City</span>
              <span style="font-size: 1.2rem;" class="pi pi-heart"></span>
            </div>
            <div style="margin-top: 1rem;">Q. Nam Từ Liêm, TP. Hà Nội</div>
            <div class="flex" style="margin-top: 1rem; align-items: baseline;">
              <div style="margin-right: 1rem; display: flex;">
                <div>
                  <img src="assets/layout/images/stairs-up-svgrepo-com.png" style="width: 100%; height: 1rem;"/>
                </div>
                <span>4 tầng</span>
              </div>
              <div style="margin-right: 1rem; display: flex; align-items: baseline;">
                <div>
                  <img src="assets/layout/images/product/icon/area-svgrepo-com.png" style="width: 100%;  height: 1rem;"/>
                </div>
                <span>127.5m<sup>2</sup></span>
              </div>
              <div style="margin-right: 1rem; display: flex; align-items: baseline;">
                <div>
                  <img src="assets/layout/images/product/icon/view-horizont-svgrepo-com.png" style="width: 100%;  height: 1rem;"/>
                </div>
                <span>Tây Bắc</span>
              </div>
            </div>
            <div style="margin-top: 1rem; display: flex; justify-content: space-between;">
              <div>
                <strong style="margin-right: 0.5rem; font-size: 1.2rem; color: #094bf4;">14.XX tỷ</strong>
                <span style="color: #000;">XX triệu/m<sup>2</sup></span>
              </div>
              <div>
                <p-button label="So sánh" styleClass="p-button-outlined p-button-lg px-3 py-2"></p-button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3" style="padding-right: 1rem;">
          <div style="overflow: hidden;">
            <p-galleria [(value)]="images" [showIndicators]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOption" >
              <ng-template pTemplate="item" let-item>
                <div class="img-hover-zoom">
                  <img class="" [src]="item.itemImageSrc" style="width: 100%; display: block;" />
                </div>
              </ng-template>
            </p-galleria>
          </div>
          <div>
            <div class="flex" style="align-items: baseline;">
              <span style="font-size: 1.2rem; font-weight: 600; padding-right: 2rem;">Căn 2PN toà S2.01 - The Sapphire - Vinhomes Smart City</span>
              <span style="font-size: 1.2rem;" class="pi pi-heart"></span>
            </div>
            <div style="margin-top: 1rem;">Q. Nam Từ Liêm, TP. Hà Nội</div>
            <div class="flex" style="margin-top: 1rem; align-items: baseline;">
              <div style="margin-right: 1rem; display: flex;">
                <div>
                  <img src="assets/layout/images/stairs-up-svgrepo-com.png" style="width: 100%; height: 1rem;"/>
                </div>
                <span>4 tầng</span>
              </div>
              <div style="margin-right: 1rem; display: flex; align-items: baseline;">
                <div>
                  <img src="assets/layout/images/product/icon/area-svgrepo-com.png" style="width: 100%;  height: 1rem;"/>
                </div>
                <span>127.5m<sup>2</sup></span>
              </div>
              <div style="margin-right: 1rem; display: flex; align-items: baseline;">
                <div>
                  <img src="assets/layout/images/product/icon/view-horizont-svgrepo-com.png" style="width: 100%;  height: 1rem;"/>
                </div>
                <span>Tây Bắc</span>
              </div>
            </div>
            <div style="margin-top: 1rem; display: flex; justify-content: space-between;">
              <div>
                <strong style="margin-right: 0.5rem; font-size: 1.2rem; color: #094bf4;">14.XX tỷ</strong>
                <span style="color: #000;">XX triệu/m<sup>2</sup></span>
              </div>
              <div>
                <p-button label="So sánh" styleClass="p-button-outlined p-button-lg px-3 py-2"></p-button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3" style="padding-right: 1rem;">
          <div style="overflow: hidden;">
            <p-galleria [(value)]="images" [showIndicators]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOption" >
              <ng-template pTemplate="item" let-item>
                <div class="img-hover-zoom">
                  <img class="" [src]="item.itemImageSrc" style="width: 100%; display: block;" />
                </div>
              </ng-template>
            </p-galleria>
          </div>
          <div>
            <div class="flex" style="align-items: baseline;">
              <span style="font-size: 1.2rem; font-weight: 600; padding-right: 2rem;">Căn 2PN toà S2.01 - The Sapphire - Vinhomes Smart City</span>
              <span style="font-size: 1.2rem;" class="pi pi-heart"></span>
            </div>
            <div style="margin-top: 1rem;">Q. Nam Từ Liêm, TP. Hà Nội</div>
            <div class="flex" style="margin-top: 1rem; align-items: baseline;">
              <div style="margin-right: 1rem; display: flex;">
                <div>
                  <img src="assets/layout/images/stairs-up-svgrepo-com.png" style="width: 100%; height: 1rem;"/>
                </div>
                <span>4 tầng</span>
              </div>
              <div style="margin-right: 1rem; display: flex; align-items: baseline;">
                <div>
                  <img src="assets/layout/images/product/icon/area-svgrepo-com.png" style="width: 100%;  height: 1rem;"/>
                </div>
                <span>127.5m<sup>2</sup></span>
              </div>
              <div style="margin-right: 1rem; display: flex; align-items: baseline;">
                <div>
                  <img src="assets/layout/images/product/icon/view-horizont-svgrepo-com.png" style="width: 100%;  height: 1rem;"/>
                </div>
                <span>Tây Bắc</span>
              </div>
            </div>
            <div style="margin-top: 1rem; display: flex; justify-content: space-between;">
              <div>
                <strong style="margin-right: 0.5rem; font-size: 1.2rem; color: #094bf4;">14.XX tỷ</strong>
                <span style="color: #000;">XX triệu/m<sup>2</sup></span>
              </div>
              <div>
                <p-button label="So sánh" styleClass="p-button-outlined p-button-lg px-3 py-2"></p-button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3" style="padding-right: 1rem;">
          <div style="overflow: hidden;">
            <p-galleria [(value)]="images" [showIndicators]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOption" >
              <ng-template pTemplate="item" let-item>
                <div class="img-hover-zoom">
                  <img class="" [src]="item.itemImageSrc" style="width: 100%; display: block;" />
                </div>
              </ng-template>
            </p-galleria>
          </div>
          <div>
            <div class="flex" style="align-items: baseline;">
              <span style="font-size: 1.2rem; font-weight: 600; padding-right: 2rem;">Căn 2PN toà S2.01 - The Sapphire - Vinhomes Smart City</span>
              <span style="font-size: 1.2rem;" class="pi pi-heart"></span>
            </div>
            <div style="margin-top: 1rem;">Q. Nam Từ Liêm, TP. Hà Nội</div>
            <div class="flex" style="margin-top: 1rem; align-items: baseline;">
              <div style="margin-right: 1rem; display: flex;">
                <div>
                  <img src="assets/layout/images/stairs-up-svgrepo-com.png" style="width: 100%; height: 1rem;"/>
                </div>
                <span>4 tầng</span>
              </div>
              <div style="margin-right: 1rem; display: flex; align-items: baseline;">
                <div>
                  <img src="assets/layout/images/product/icon/area-svgrepo-com.png" style="width: 100%;  height: 1rem;"/>
                </div>
                <span>127.5m<sup>2</sup></span>
              </div>
              <div style="margin-right: 1rem; display: flex; align-items: baseline;">
                <div>
                  <img src="assets/layout/images/product/icon/view-horizont-svgrepo-com.png" style="width: 100%;  height: 1rem;"/>
                </div>
                <span>Tây Bắc</span>
              </div>
            </div>
            <div style="margin-top: 1rem; display: flex; justify-content: space-between;">
              <div>
                <strong style="margin-right: 0.5rem; font-size: 1.2rem; color: #094bf4;">14.XX tỷ</strong>
                <span style="color: #000;">XX triệu/m<sup>2</sup></span>
              </div>
              <div>
                <p-button label="So sánh" styleClass="p-button-outlined p-button-lg px-3 py-2"></p-button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3" style="padding-right: 1rem;">
          <div style="overflow: hidden;">
            <p-galleria [(value)]="images" [showIndicators]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOption" >
              <ng-template pTemplate="item" let-item>
                <div class="img-hover-zoom">
                  <img class="" [src]="item.itemImageSrc" style="width: 100%; display: block;" />
                </div>
              </ng-template>
            </p-galleria>
          </div>
          <div>
            <div class="flex" style="align-items: baseline;">
              <span style="font-size: 1.2rem; font-weight: 600; padding-right: 2rem;">Căn 2PN toà S2.01 - The Sapphire - Vinhomes Smart City</span>
              <span style="font-size: 1.2rem;" class="pi pi-heart"></span>
            </div>
            <div style="margin-top: 1rem;">Q. Nam Từ Liêm, TP. Hà Nội</div>
            <div class="flex" style="margin-top: 1rem; align-items: baseline;">
              <div style="margin-right: 1rem; display: flex;">
                <div>
                  <img src="assets/layout/images/stairs-up-svgrepo-com.png" style="width: 100%; height: 1rem;"/>
                </div>
                <span>4 tầng</span>
              </div>
              <div style="margin-right: 1rem; display: flex; align-items: baseline;">
                <div>
                  <img src="assets/layout/images/product/icon/area-svgrepo-com.png" style="width: 100%;  height: 1rem;"/>
                </div>
                <span>127.5m<sup>2</sup></span>
              </div>
              <div style="margin-right: 1rem; display: flex; align-items: baseline;">
                <div>
                  <img src="assets/layout/images/product/icon/view-horizont-svgrepo-com.png" style="width: 100%;  height: 1rem;"/>
                </div>
                <span>Tây Bắc</span>
              </div>
            </div>
            <div style="margin-top: 1rem; display: flex; justify-content: space-between;">
              <div>
                <strong style="margin-right: 0.5rem; font-size: 1.2rem; color: #094bf4;">14.XX tỷ</strong>
                <span style="color: #000;">XX triệu/m<sup>2</sup></span>
              </div>
              <div>
                <p-button label="So sánh" styleClass="p-button-outlined p-button-lg px-3 py-2"></p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div style="display: flex; justify-content: center; margin-top: 3rem; margin-bottom: 4rem;">
      <p-button label="Xem thêm" styleClass="p-button-raised p-button-lg px-5 py-3"></p-button>
    </div> -->
  </div>

  <!-- Project -->
  <div style="background: url(https://onehousing.vn/_next/static/media/bg.a9cddc84.svg); width: 100%; height: 300vh;">
    <div style="margin-left: 4rem; margin-right:4rem; padding-top: 6rem;">
      <div style="display: flex; justify-content: space-between; align-items: center; margin-left: 3.2rem; margin-right: 3.6rem; margin-bottom: 1rem;">
        <div style="font-size: 2rem; color: #fff; font-weight: 600;">Dự án nổi bật</div>
        <!-- <p-button label="Xem tất cả" styleClass="p-button-outlined p-button-secondary p-button-lg px-4 py-3" class="mr-8"></p-button> -->
        <button class="buttonPrimary" pButton pRippletype="button" label="Xem tất cả" style="padding-left: 2rem; padding-right: 2rem; border-radius: 4px; width: 10rem; line-height: 3; border-color: #fff;
                font-size: 1rem;
                font-weight: 600; background-color: transparent;" (click)="onProjectFindBtnClick()"></button>
      </div>  
      <div>
        <!-- <p-carousel [circular]="true" [autoplayInterval]="3000" [value]="products" [numVisible]="3" [numScroll]="1" [responsiveOptions]="responsiveOptions" [circular]="true">
          <ng-template let-product pTemplate="item">
            <div class="border-round m-2" style="position: relative; overflow: hidden;">
                <div class="img-hover-zoom" style="position: relative; overflow: hidden;">
                    <img class="" src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product.image }}" [alt]="product.name" class="shadow-2" style="width: 100%; border-radius: 4px;"/>
                    <div class="" style="position: absolute; bottom: 0; top: 0; right: 0; left: 0; background: linear-gradient(180deg,rgba(0,11,49,0),rgba(0,5,24,.75));">
                      <div style="position: absolute; bottom: 0; margin-bottom: 1rem; margin-left: 1rem;">
                          <h4 class="mb-1" style="color: #fff;">{{ product.name }}</h4>
                          <h6 class="mt-0 mb-2" style="color: #fff;">{{ '$' + product.price }}</h6>
                          <button class="buttonPrimary" pButton pRippletype="button" label="Xem tất cả" style="border-radius: 4px; width: 8rem; line-height: 2; border-color: #fff;
                          font-size: 1rem; font-weight: 600; background-color: #fff; color: #000;"></button>
                      </div>
    
                    </div>
                </div>
                
            </div>
          </ng-template>
        </p-carousel> -->

        <p-carousel [circular]="true" [autoplayInterval]="3000" [value]="projectList" [numVisible]="3" [numScroll]="1" [responsiveOptions]="responsiveOptions" [circular]="true">
          <ng-template let-project pTemplate="item">
            <div class="border-round m-2" style="position: relative; overflow: hidden;">
              <a style="cursor: pointer;" (click)="onProjectBtnClick(project.id)">
                <div class="img-hover-zoom" style="position: relative; overflow: hidden;">
                    <img class="" [src]="baseUrl+'/'+project.urlAvatarImage" [alt]="project.name" class="shadow-2" style="width: 100%; border-radius: 4px; height: 22rem;"/>
                    <div class="" style="position: absolute; bottom: 0; top: 0; right: 0; left: 0; background: linear-gradient(180deg,rgba(0,11,49,0),rgba(0,5,24,.75));">
                      <div style="position: absolute; bottom: 0; margin-bottom: 1rem; margin-left: 1rem;">
                          <h4 class="mb-1" style="color: #fff;">{{ project.name }}</h4>
                          <h6 class="mt-0 mb-2" style="color: #fff;">{{ project.address }}</h6>
                          <button class="buttonPrimary" pButton pRippletype="button" label="Xem tất cả" style="border-radius: 4px; width: 8rem; line-height: 2; border-color: #fff;
                          font-size: 1rem; font-weight: 600; background-color: #fff; color: #000;"></button>
                      </div>
    
                    </div>
                </div>
              </a>
                
            </div>
          </ng-template>
        </p-carousel>
      </div>
      <!-- Thông tin giới thiệu -->
      <div class="p-fluid p-formgrid">
        <div class="grid flex w-full mt-2">
          <div class="col-4" style="color: #fff; margin-top: 2rem; padding-right: 8rem;">
            <div style="font-size: 2rem; font-weight: 600;">
              Mua nhà toàn diện cùng KHome
            </div>
          </div>
          <div class="col-8" style="color: #000; margin-top: 2rem;">
            <div class="p-fluid p-formgrid">
              <div class="grid flex w-full mt-2">
                <div class="col-6" style="color: #fff; margin-top: 2rem; padding-right: 4rem;">
                  <div>
                    <div style="width: 10rem;">
                      <img src="../../assets/layout/images/product/image_upload_1665052626_an_onehousing_home_project.gif" alt="" style="width: 100%;">
                    </div>
                    <div style="margin-top: 1rem; font-size: 1.5rem; font-weight: 600;">
                      Dự án từ chủ đầu tư hàng đầu Việt Nam
                    </div>
                    <div style="margin-top: 1rem; font-size: 1.1rem;">Nguồn hàng Bất động sản từ những chủ đầu tư hàng đầu thị trường</div>
                  </div>
                </div>
                <div class="col-6" style="color: #fff; margin-top: 2rem; padding-right: 4rem; margin-top: 4rem;">
                  <div>
                    <div style="width: 10rem;">
                      <img src="../../assets/layout/images/product/image_upload_1665052637_an_onehousing_home_buyhouse (1).gif" alt="" style="width: 100%;">
                    </div>
                    <div style="margin-top: 1rem; font-size: 1.5rem; font-weight: 600;">
                      Đối tác tài chính uy tín
                    </div>
                    <div style="margin-top: 1rem; font-size: 1.1rem;">Là đối tác chiến lược của Techcombank, mang lại các giải pháp tài chính giúp hành trình mua nhà dễ dàng hơn</div>
                  </div>
                </div>
                <div class="col-6" style="color: #fff; margin-top: 2rem; padding-right: 4rem;">
                  <div>
                    <div style="width: 10rem;">
                      <img src="../../assets/layout/images/product/image_upload_1665052656_an_onehousing_home_experts (1).gif" alt="" style="width: 100%;">
                    </div>
                    <div style="margin-top: 1rem; font-size: 1.5rem; font-weight: 600;">
                      Chuyên gia giàu kinh nghiệm
                    </div>
                    <div style="margin-top: 1rem; font-size: 1.1rem;">Đội ngũ chuyên gia nhiều năm kinh nghiệm trong lĩnh vực bất động sản</div>
                  </div>
                </div>
                <div class="col-6" style="color: #fff; margin-top: 2rem; padding-right: 4rem; margin-top: 4rem;">
                  <div>
                    <div style="width: 10rem;">
                      <img src="../../assets/layout/images/product/image_upload_1665052672_an_onehousing_home_lifestyle.gif" alt="" style="width: 100%;">
                    </div>
                    <div style="margin-top: 1rem; font-size: 1.5rem; font-weight: 600;">
                      Cảm hứng sống chất
                    </div>
                    <div style="margin-top: 1rem; font-size: 1.1rem;">Truyền cảm hứng biến mọi ngôi nhà thành tổ ấm</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <!-- Chuyên gia -->
  <div style="margin-left: 4rem; margin-right:4rem; padding-top: 6rem;">
    <!-- Thông tin giới thiệu -->
    <div class="p-fluid p-formgrid">
      <div class="grid flex w-full mt-2">
        <div class="col-5" style="color: #000; margin-top: 2rem;">
          <div style="font-size: 2.5rem; font-weight: 600;">
            Đội ngũ Pro Agent chuyên nghiệp
          </div>
          <div style="margin-top: 2rem; font-size: 1.3rem;">KHome tự hào và vinh danh những gương mặt cá nhân, tập thể Pro Agent xuất sắc trong thời gian vừa qua.</div>
        </div>
        <div class="col-7" style="color: #000; margin-top: 2rem;">
          <div class="card md:flex md:justify-content-center">
            <p-galleria [circular]="true" [autoPlay]="true" [(value)]="images" [showIndicators]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOption" >
              <ng-template pTemplate="item" let-item>
                <div class="">
                  <img class="" [src]="item.itemImageSrc" style="width: 100%; display: block;" />
                </div>
              </ng-template>
            </p-galleria>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div style="background-color: rgba(0,0,0,0.04);">
    <div style="margin-left: 4rem; margin-right:4rem; margin-top: 2rem; padding-bottom: 2rem;">
      <div class="p-fluid p-formgrid">
        <div class="grid flex w-full mt-2">
          <div class="col-4" style="color: #000; margin-top: 2rem;">
            <div>
              <img src="../../assets/layout/images/k1.png" height="100"/>
            </div>
            <div>
              <div style="display: flex; align-items: center; margin-top: 1rem;">
                <div style="margin-right: 1rem;">
                  <img src="assets/layout/images/footer/location-pin-svgrepo-com.png" style="height: 1rem;"/>
                </div>
                <div>Tầng 1, Tòa văn phòng T26, KĐT Times City, 458 Minh Khai, Phường Vĩnh Tuy, Quận Hai Bà Trưng, Thành phố Hà Nội</div>
              </div>
              <div style="display: flex; align-items: center; margin-top: 1rem;">
                <div style="margin-right: 1rem;">
                  <img src="assets/layout/images/footer/headphone-alt-svgrepo-com.png" style="height: 1rem;"/>
                </div>
                <div>Hotline: 1800 646 466</div>
              </div>
              <div style="display: flex; align-items: center; margin-top: 1rem;">
                <div style="margin-right: 1rem;">
                  <img src="assets/layout/images/footer/mail-svgrepo-com.png" style="height: 1rem;"/>
                </div>
                <div>Email: cskh@onehousing.vn</div>
              </div>
            </div>
          </div>
          <div class="col-4" style="color: #000; margin-top: 2rem;">
            <div class="grid flex w-full">
              <div class="col-4">
                <!-- <div style="font-size: 1.2rem; font-weight: 600;">Dịch vụ</div>
                <div>
                  <div class="info-text" style="color: #4c566a; margin-top: 2rem;">Tư vấn bán</div>
                  <div class="info-text" style="color: #4c566a; margin-top: 1rem;">Vay thế chấp</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Định giá căn nhà</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Thông tin dự án</div>
                </div> -->
              </div>
              <div class="col-4">
                <!-- <div style="font-size: 1.2rem; font-weight: 600;">Dịch vụ</div>
                <div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 2rem;">Tư vấn bán</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Vay thế chấp</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Định giá căn nhà</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Thông tin dự án</div>
                </div> -->
              </div>
              <div class="col-4">
                <!-- <div style="font-size: 1.2rem; font-weight: 600;">Dịch vụ</div>
                <div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 2rem;">Tư vấn bán</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Vay thế chấp</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Định giá căn nhà</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Thông tin dự án</div>
                </div> -->
              </div>
            </div>
          </div>
          <div class="col-4" style="color: #000; margin-top: 2rem;">
            <div class="grid flex w-full">
              <div class="col-6">
                <!-- <div style="font-size: 1.2rem; font-weight: 600;">Dịch vụ</div>
                <div>
                  <div class="info-text" style="color: #4c566a; margin-top: 2rem;">Tư vấn bán</div>
                  <div class="info-text" style="color: #4c566a; margin-top: 1rem;">Vay thế chấp</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Định giá căn nhà</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Thông tin dự án</div>
                </div> -->
              </div>
              <div class="col-6">
                <div style="font-size: 1.2rem; font-weight: 600;">Về chúng tôi</div>
                <div>
                  <div style="color: #4c566a;  margin-top: 2rem; display: flex; align-items: center;">
                    <span class="pi pi-facebook" style="margin-right: 1rem;"></span>
                    <div class="info-text">Facebook</div>
                  </div>
                  <div style="color: #4c566a;  margin-top: 1rem; display: flex; align-items: center;">
                    <span class="pi pi-instagram" style="margin-right: 1rem;"></span>
                    <div class="info-text">Instagram</div>
                  </div>
                  <div style="color: #4c566a;  margin-top: 1rem; display: flex; align-items: center;">
                    <span class="pi pi-youtube" style="margin-right: 1rem;"></span>
                    <div class="info-text">Youtube</div>
                  </div>
                  <div style="color: #4c566a;  margin-top: 1rem; display: flex; align-items: center;">
                    <span class="pi pi-facebook" style="margin-right: 1rem;"></span>
                    <div class="info-text">Spotify</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>

    
  </div>
</div>