<app-loading-page *ngIf="isLoadingPage"></app-loading-page>

<div style="height: 100%; display: block;">
    <p-menubar styleClass="bg-white" style="background: #fff;">
        <ng-template pTemplate="start">
          <a (click)="onClickHome()" style="cursor: pointer;">
            <img src="../../../assets/layout/images/k1.png" height="100" class="ml-4" style="margin-left: 2.2rem !important;"/>
          </a>
        </ng-template>
        <ng-template pTemplate="end">
          <app-topbar></app-topbar>
        </ng-template>
    </p-menubar>
    <!-- Hình ảnh căn hộ -->
    <div style="margin-left: 4rem; margin-right:4rem;">
        <!-- <div class="p-fluid p-formgrid">
            <div class="grid flex w-full mt-2">
                <div class="col-6" style="color: #000;">
                    <div>
                        <p-image src="../../../assets/layout/images/product/1.jpg" alt="Image" width="100%" [preview]="true"></p-image>
                    </div>
                </div>
                <div class="col-6" style="color: #000;">
                    <div class="grid flex w-full">
                        <div class="col-6">
                            <p-image src="../../../assets/layout/images/product/1.jpg" alt="Image" width="100%" [preview]="true"></p-image>
                        </div>
                        <div class="col-6">
                            <p-image src="../../../assets/layout/images/product/1.jpg" alt="Image" width="100%" [preview]="true"></p-image>
                        </div>
                        <div class="col-6">
                            <p-image src="../../../assets/layout/images/product/1.jpg" alt="Image" width="100%" [preview]="true"></p-image>
                        </div>
                        <div class="col-6">
                            <p-image src="../../../assets/layout/images/product/1.jpg" alt="Image" width="100%" [preview]="true"></p-image>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        

        <div class="card md:flex md:justify-content-center" style="margin-top: 2rem;">
            <p-galleria [autoPlay]="true" [circular]="true" [(value)]="projectInfo.urlImage" [showIndicators]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOption" >
              <ng-template pTemplate="item" let-item>
                <div class="">
                  <p-image [src]="baseUrl+'/'+item" alt="Image" width="100%" [preview]="true" height="500rem"></p-image>
                </div>
              </ng-template>
            </p-galleria>
        </div>
        
        <!-- <div class="card md:flex md:justify-content-center" style="margin-top: 2rem;">
          <p-galleria [autoPlay]="true" [circular]="true" [(value)]="images" [showIndicators]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOption" >
              <ng-template pTemplate="item" let-item>
                <div class="">
                  <p-image [src]="item.itemImageSrc" alt="Image" width="100%" [preview]="true"></p-image>
                </div>
              </ng-template>
            </p-galleria>
        </div> -->
    </div>

    <!-- Thông tin căn hộ -->
    <div style="margin-left: 4rem; margin-right:4rem; margin-top: 4rem;">
        <div class="grid flex w-full">
            <div class="col-9">
                <div style="display: flex; justify-content: space-between; align-items: baseline; font-weight: 600; color: #000;">
                    <div style="font-size: 2rem; font-weight: 600; color: #000;">{{projectInfo.name}}</div>
                    <!-- <span style="font-size: 1.2rem;" class="pi pi-heart"></span> -->
                </div>

                <div style="margin-top: 1rem; display: flex; cursor: pointer; color: #094bf4; align-items: center;">
                    <!-- <span class="pi pi-plus-circle" style="margin-right: 0.5rem; font-weight: 600;"></span>
                    <div style="font-size: 1.1rem; font-weight: 600;">So sánh</div> -->
                </div>
                
                <!-- Tab view -->
                <div style="margin-top: 2rem;">
                    <p-tabView styleClass="custom-tabview" [(activeIndex)]="activeIndex" (onChange)="changeTab($event)">
                        <!-- pause tạm -->
                        <p-tabPanel [header]="'price'">
                            <ng-template pTemplate="header">
                                <span> Giá bán </span>
                            </ng-template>
                            <div style="font-size: 1.8rem; font-weight: 600;">Giá bán</div>
                            <div style="color: #6f6f6f; font-size: 1.2rem; margin-top: 0.5rem;">Biệt thự {{projectInfo.name}}</div>
                            <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 2rem;  background-color: #ebf4fc; padding: 2rem 4rem">
                                <div style="display: flex; align-items: center;">
                                    <div style="margin-right: 1rem;">
                                        <img src="../../../assets/layout/images/product/1.jpg" alt="" height="50">
                                    </div>
                                    <div style="display: flex; flex-direction: column; justify-content: space-between;;">
                                        <div style="color: #6f6f6f; font-size: 1.2rem;">Giá thoả thuận</div>
                                        <div style="color: #6f6f6f; font-size: 1.2rem; margin-top: 0.2rem;">{{ projectInfo.expectedSellingPrice / 1000000000 | number :'1.0-2'}} tỷ</div>
                                    </div>
                                </div>
                                <div style="border-left: 1px solid #6f6f6f; height: 2.5rem;"></div>
                                <div style="display: flex; align-items: center;">
                                    <div style="margin-right: 1rem;">
                                        <img src="../../../assets/layout/images/product/1.jpg" alt="" height="50">
                                    </div>
                                    <div style="display: flex; flex-direction: column; justify-content: space-between;">
                                        <div style="color: #6f6f6f; font-size: 1.2rem;">Giá theo m<sup>2</sup></div>
                                        <div style="color: #6f6f6f; font-size: 1.2rem;">Đang cập nhật</div>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>

                        <!-- Tab mô tả căn nhà -->
                        <p-tabPanel [header]="'overview'">
                          <ng-template pTemplate="header">
                              <span style="font-weight: 600;"> Tổng quan </span>
                          </ng-template>
                          <div style="font-size: 1.8rem; font-weight: 600;">Tổng quan</div>
                          <div style="color: #6f6f6f; font-size: 1.2rem; margin-top: 0.5rem;">Biệt thự Vinhomes Ocean Park 2 tháng 8/2023</div>
                          <div class="grid flex w-full" style="margin-top: 2rem; justify-content: space-between;">
                            <div class="col-6" style="display: flex;">
                                <div style="margin-right: 0.5rem;">
                                    <img src="../../../assets/layout/images/stairs-up-svgrepo-com (1).png" alt="" height="50">
                                </div>
                                <div style="display: flex; flex-direction: column; justify-content: space-between;">
                                    <div style="color: #6f6f6f; font-size: 1.2rem;">Chủ đầu tư</div>
                                    <div style="color: #000; font-size: 1.3rem; margin-top: 0.2rem; font-weight: 600;">{{ projectInfo.ownerName}}</div>
                                </div>
                            </div>
                            <div class="col-6" style="display: flex;">
                                <div style="margin-right: 0.5rem;">
                                    <img src="../../../assets/layout/images/stairs-up-svgrepo-com (1).png" alt="" height="50">
                                </div>
                                <div style="display: flex; flex-direction: column;">
                                    <div style="color: #6f6f6f; font-size: 1.2rem;">Thời điểm bàn giao</div>
                                    <div style="color: #000; font-size: 1.3rem; margin-top: 0.2rem; font-weight: 600;">{{ projectInfo.expectedHandoverTime }}</div>
                                </div>
                            </div>
                          </div>
                          
                          <div class="grid flex w-full" style="margin-top: 2rem;">
                            <div class="col-6">
                                <div class="col-3" style="display: flex; justify-content: space-between; width: 100%; flex-direction: column; align-items: center;">
                                    <div style="display: flex; justify-content: space-between; width: 100%; font-size: 1.2rem;">
                                        <div>Quy mô</div>
                                        <div style="font-weight: 600;">{{ projectInfo.landArea }}</div>
                                    </div>
                                    <div style="border-top: 1px solid #9e9e9e; width: 100%; margin-top: 2rem; margin-bottom: 1rem;"></div>
                                </div>
                                <div class="col-3" style="display: flex; justify-content: space-between; width: 100%; flex-direction: column; align-items: center;">
                                    <div style="display: flex; justify-content: space-between; width: 100%; font-size: 1.2rem;">
                                        <div>Phân khúc</div>
                                        <div style="color: #6f6f6f;">Đang cập nhật</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="col-3" style="display: flex; justify-content: space-between; width: 100%; flex-direction: column; align-items: center;">
                                    <div style="display: flex; justify-content: space-between; width: 100%; font-size: 1.2rem;">
                                        <div style="display: flex; align-items: center;">
                                            <div style="margin-right: 0.5rem;">Mật độ xây dựng</div>
                                            <div class="tooltip">
                                                <span class="pi pi-question-circle" style="color: #0000FF;"></span>    
                                                <span class="tooltiptext">Diện tích khuôn viên đất được công nhận trên hồ sơ pháp lý</span>
                                            </div>
                                        </div>
                                        <div style="font-weight: 600;">{{projectInfo.buildingDensity}}%</div>
                                    </div>
                                </div>
                            </div> 
                          </div>
                           
                          <div style="border-width: 1px; border-color: #ede5e5; border-style: solid; padding: 0.5rem 1rem; margin-top: 2rem;">
                            <div class="grid flex w-full">
                              <div class="col-6">
                                  <div class="col-3" style="display: flex; justify-content: space-between; width: 100%; flex-direction: column; align-items: center;">
                                      <div style="display: flex; justify-content: space-between; width: 100%; font-size: 1.2rem;">
                                          <div>Mã dự án</div>
                                          <div style="font-weight: 600;">{{ projectInfo.code }}</div>
                                      </div>
                                      <div style="border-top: 1px solid #ede5e5; width: 100%; margin-top: 2rem; margin-bottom: 1rem;"></div>
                                  </div>
                                  <div class="col-3" style="display: flex; justify-content: space-between; width: 100%; flex-direction: column; align-items: center;">
                                      <div style="display: flex; justify-content: space-between; width: 100%; font-size: 1.2rem;">
                                          <div>Tên tổng thầu</div>
                                          <div style="font-weight: 600;">{{ projectInfo.contractorName }}</div>
                                      </div>
                                      <div style="border-top: 1px solid #ede5e5; width: 100%; margin-top: 2rem; margin-bottom: 1rem;"></div>
                                  </div>
                                  <div class="col-3" style="display: flex; justify-content: space-between; width: 100%; flex-direction: column; align-items: center;">
                                      <div style="display: flex; justify-content: space-between; width: 100%; font-size: 1.2rem;">
                                          <div>Số căn</div>
                                          <div style="font-weight: 600;">{{ projectInfo.numberOfUnit }}</div>
                                      </div>
                                      <div style="border-top: 1px solid #ede5e5; width: 100%; margin-top: 2rem; margin-bottom: 1rem;"></div>
                                  </div>
                              </div>
                              <div class="col-6">
                                  <div class="col-3" style="display: flex; justify-content: space-between; width: 100%; flex-direction: column; align-items: center;">
                                      <div style="display: flex; justify-content: space-between; width: 100%; font-size: 1.2rem;">
                                          <div>Loại hình dự án</div>
                                          <!-- {{ ProjectOverviewConst.getNameProductTypes(projectInfo.productTypes) }} -->
                                          <!-- <div style="font-weight: 600;">{{ projectInfo.projectType }}</div> -->
                                          <div style="font-weight: 600;">{{ ProjectOverviewConst.getNameProductTypes(projectInfo.productTypes) }}</div>
                                      </div>
                                      <div style="border-top: 1px solid #ede5e5; width: 100%; margin-top: 2rem; margin-bottom: 1rem;"></div>
                                  </div>
                                  <div class="col-3" style="display: flex; justify-content: space-between; width: 100%; flex-direction: column; align-items: center;">
                                      <div style="display: flex; justify-content: space-between; width: 100%; font-size: 1.2rem;">
                                          <div>Tiến độ dự án</div>
                                          <div style="font-weight: 600;">{{ projectInfo.projectStatus }}</div>
                                      </div>
                                      <div style="border-top: 1px solid #ede5e5; width: 100%; margin-top: 2rem; margin-bottom: 1rem;"></div>
                                  </div>
                                  <div class="col-3" style="display: flex; justify-content: space-between; width: 100%; flex-direction: column; align-items: center;">
                                      <div style="display: flex; justify-content: space-between; width: 100%; font-size: 1.2rem;">
                                          <div>Dự án</div>
                                          <div style="font-weight: 600;">{{projectInfo.name}}</div>
                                      </div>
                                      <div style="border-top: 1px solid #ede5e5; width: 100%; margin-top: 2rem; margin-bottom: 1rem;"></div>
                                  </div>
                              </div> 
                              <div class="col-12">
                                <div style="color: #6f6f6f;">KHome cung cấp thông tin tổng quan, phân tích chi tiết biệt thự, liền kề dự án {{projectInfo.name}}</div>
                              </div>
                            </div>
                          </div>
                        </p-tabPanel>
                        
                        <!-- Tiện ích -->
                        <p-tabPanel [header]="'utility'">
                            <ng-template pTemplate="header">
                                <span style="font-weight: 600;"> Tiện ích </span>
                            </ng-template>
                            <div style="font-size: 1.8rem; font-weight: 600;">Tiện ích nội khu</div>
                            <!-- <div class="card md:flex md:justify-content-center" style="margin-top: 2rem;">
                                <p-galleria [autoPlay]="true" [circular]="true" [(value)]="images" [showIndicators]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOption" >
                                  <ng-template pTemplate="item" let-item>
                                    <div class="">
                                      <p-image [src]="item.itemImageSrc" alt="Image" width="100%" [preview]="true"></p-image>
                                    </div>
                                  </ng-template>
                                </p-galleria>
                            </div> -->

                            <div style="margin-top: 2rem;">
                                <p-carousel [circular]="true" [autoplayInterval]="3000" [value]="images" [numVisible]="3" [numScroll]="1" [responsiveOptions]="responsiveOptions" [circular]="true">
                                  <ng-template let-item pTemplate="item">
                                      <!-- <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
                                          <div class="mb-3">
                                              <img src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product.image }}" [alt]="product.name" class="w-6 shadow-2" />
                                          </div>
                                          <div>
                                              <h4 class="mb-1">{{ product.name }}</h4>
                                              <h6 class="mt-0 mb-3">{{ '$' + product.price }}</h6>
                                              <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)"></p-tag>
                                              <div class="car-buttons mt-5">
                                                  <p-button type="button" styleClass="p-button p-button-rounded mr-2" icon="pi pi-search"></p-button>
                                                  <p-button type="button" styleClass="p-button-success p-button-rounded mr-2" icon="pi pi-star-fill"></p-button>
                                              </div>
                                          </div>
                                      </div> -->
                                      
                                      <div class="border-round m-2" style="position: relative; overflow: hidden;">
                                        <div class="img-hover-zoom" style="position: relative; overflow: hidden;">
                                            <!-- <p-image [src]="item.itemImageSrc" alt="Image" width="100%" [preview]="true"></p-image> -->
                                            <img class="" [src]="item.itemImageSrc" style="width: 100%; display: block;" />
                                            <!-- <img class="" src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product.image }}" [alt]="product.name" class="shadow-2" style="width: 100%; border-radius: 4px;"/> -->
                                            <!-- <div class="" style="position: absolute; bottom: 0; top: 0; right: 0; left: 0; background: linear-gradient(180deg,rgba(0,11,49,0),rgba(0,5,24,.75));">
                                              <div style="position: absolute; bottom: 0; margin-bottom: 1rem; margin-left: 1rem;">
                                                  <h4 class="mb-1" style="color: #fff;">{{ product.name }}</h4>
                                                  <h6 class="mt-0 mb-2" style="color: #fff;">{{ '$' + product.price }}</h6>
                                                  <button class="buttonPrimary" pButton pRippletype="button" label="Xem tất cả" style="border-radius: 4px; width: 8rem; line-height: 2; border-color: #fff;
                                                  font-size: 1rem; font-weight: 600; background-color: #fff; color: #000;"></button>
                                              </div>
                            
                                            </div> -->
                                        </div>
                                        
                                    </div>
                                  </ng-template>
                                </p-carousel>
                            </div>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
        <div style="margin-top: 2rem; margin-bottom: 4rem;">
            <div style="color: #000; font-size: 1.8rem; font-weight: 600;">Căn đang bán</div>
            <div>
              <div class="p-fluid p-formgrid">
                  <div class="grid flex w-full mt-2" style="align-items: center;">
                      <div class="col-4">
                          <div style="display: flex;">
                              <!-- <input type="text" pInputText placeholder="Tìm dự án" class="w-full" style="width: 100%;"/> -->
                              <input-search
                                          [(keyword)]="fieldFilters.keyword"
                                          (_onChange)="setPage()"
                                          class="w-full" style="width: 100%;">
                              </input-search>
                              <!-- <div style="display: flex;">
                                <a style="cursor: pointer;" (click)="onProductFindBtnClick()">
                                  <button pButton pRippletype="button" label="Tìm kiếm" icon="pi pi-search" style="margin-left: -2rem; padding-left: 2rem; padding-right: 2rem; border-radius: 0px 4px 4px 0px; width: 10rem;"></button>
                                </a>
                              </div> -->
                          </div>
                      </div>
                      <div class="col-8">
                          <ng-container filter>
                            <div #divFilter class="flex flex-column sm:flex-row w-full" style="padding: 2rem 0 2rem 0;">
                              <!-- <form-multi-select
                                style="flex: 1; padding: 0.5rem 0.75rem;"
                                class="col-2"
                                [label]="'Chọn tỉnh thành'"
                                [floatLabel]="true"
                                
                              ></form-multi-select>
                              <form-multi-select
                                style="flex: 1;"
                                class="col-2"
                                [label]="'Loại BĐS'"
                                [floatLabel]="true"
                                
                              ></form-multi-select>
                              <form-multi-select
                                style="flex: 1;"
                                class="col-2"
                                [label]="'Số phòng ngủ'"
                                [floatLabel]="true"
                                
                              ></form-multi-select>
                              <form-multi-select
                                style="flex: 1;"
                                class="col-2"
                                [label]="'Khoảng giá'"
                                [floatLabel]="true"
                                
                              ></form-multi-select> -->
      
                              <span class="p-float-label b-custom ml-2 col-3">
                                <p-dropdown id="classifyType" name="classifyType" [styleClass]="'b-w-100'" appendTo="body"
                                    [showClear]="true" placeholder="Tất cả" [options]="ProductConst.classifyTypes"
                                    optionLabel="name" optionValue="code" [(ngModel)]="fieldFilters.classifyType"
                                    (onChange)="changeFilter($event.value)">
                                </p-dropdown>
                                <label class="font-normal" for="classifyType">Phân loại sản phẩm </label>
                              </span>
                              <span class="p-float-label b-custom ml-2 col-3">
                                <p-dropdown id="status" name="status" [styleClass]="'b-w-100'" appendTo="body" [showClear]="true"
                                    placeholder="Tất cả" [options]="ProductConst.statuses" optionLabel="name" optionValue="code"
                                    [(ngModel)]="fieldFilters.status" (onChange)="changeFilter($event.value)">
                                </p-dropdown>
                                <label class="font-normal" for="status">Trạng thái</label>
                              </span>
                            </div>
                          </ng-container>
                      </div>
                  </div>
              </div>
          </div>
            <div class="p-fluid p-formgrid">
                <div class="grid flex w-full mt-2">
                  <div class="col-3" style="padding-right: 1rem;" *ngFor="let row of rows">
                    <div style="overflow: hidden;">
                      <!-- <img src="../../assets/layout/images/product/TestHome.jpg" alt="" style="width: 100%;"> -->
                      <p-galleria [(value)]="row.productItemMedias" [showIndicators]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOption" >
                        <ng-template pTemplate="item" let-item>
                          <div class="img-hover-zoom">
                            <img class="" [src]="baseUrl+'/'+item.urlImage" style="width: 100%; display: block; height: 16rem;" />
                          </div>
                        </ng-template>
                      </p-galleria>
                    </div>
                    <a style="cursor: pointer;" (click)="onBtnProductItemClick(row.id)">
                      <div>
                        <div class="flex" style="align-items: baseline; justify-content: space-between;">
                          <span style="font-size: 1.2rem; font-weight: 600; padding-right: 2rem; color: #000;">{{row.name}}</span>
                          <!-- <span style="font-size: 1.2rem;" class="pi pi-heart"></span> -->
                        </div>
                        <div style="margin-top: 1rem;"></div>
                        <div class="flex" style="margin-top: 1rem; align-items: baseline; color: #6f6f6f;">
                          <div style="margin-right: 1rem; display: flex;">
                            <div style="margin-right: 0.2rem; padding-top: 0.2rem;">
                              <img src="assets/layout/images/stairs-up-svgrepo-com.png" style="width: 100%; height: 1rem;"/>
                            </div>
                            <span>{{row.numberFloor}} tầng</span>
                          </div>
                          <div style="margin-right: 1rem; display: flex; align-items: baseline;">
                            <div style="margin-right: 0.2rem; padding-top: 0.2rem;">
                              <img src="assets/layout/images/product/icon/area-svgrepo-com.png" style="width: 100%;  height: 1rem;"/>
                            </div>
                            <span>{{row.priceArea}}m<sup>2</sup></span>
                          </div>
                          <div style="margin-right: 1rem; display: flex; align-items: baseline;">
                            <div style="margin-right: 0.2rem; padding-top: 0.2rem;">
                              <img src="assets/layout/images/product/icon/view-horizont-svgrepo-com.png" style="width: 100%;  height: 1rem;"/>
                            </div>
                            <span>{{row.doorDirection}}</span>
                          </div>
                        </div>
                        <div style="margin-top: 1rem; display: flex; justify-content: space-between;">
                          <div>
                            <strong style="margin-right: 0.5rem; font-size: 1.2rem; color: #094bf4;">{{row.price / 1000000000 | number :'1.0-2'}}tỷ</strong>
                            <span style="color: #000;">{{ row.unitPrice / 1000000 }} triệu/m<sup>2</sup></span>
                          </div>
                          <div>
                            <!-- <p-button label="So sánh" styleClass="p-button-outlined p-button-lg px-3 py-2"></p-button> -->
                            <!-- <button pButton pRippletype="button" label="So sánh" style="padding-left: 2rem; padding-right: 2rem; border-radius: 0px 4px 4px 0px; width: 10rem; line-height: 3; border-color: #094bf4;
                            font-size: 1rem;
                            font-weight: 600;"></button> -->
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
  <div style="background-color: rgba(0,0,0,0.04);">
    <div style="margin-left: 4rem; margin-right:4rem; margin-top: 2rem; padding-bottom: 2rem;">
      <div class="p-fluid p-formgrid">
        <div class="grid flex w-full mt-2">
          <div class="col-4" style="color: #000; margin-top: 2rem;">
            <div>
              <img src="../../assets/layout/images/k1.png" height="100"/>
            </div>
            <div>
              <div style="display: flex; align-items: center; margin-top: 1rem;">
                <div style="margin-right: 1rem;">
                  <img src="assets/layout/images/footer/location-pin-svgrepo-com.png" style="height: 1rem;"/>
                </div>
                <div>Tầng 1, Tòa văn phòng T26, KĐT Times City, 458 Minh Khai, Phường Vĩnh Tuy, Quận Hai Bà Trưng, Thành phố Hà Nội</div>
              </div>
              <div style="display: flex; align-items: center; margin-top: 1rem;">
                <div style="margin-right: 1rem;">
                  <img src="assets/layout/images/footer/headphone-alt-svgrepo-com.png" style="height: 1rem;"/>
                </div>
                <div>Hotline: 1800 646 466</div>
              </div>
              <div style="display: flex; align-items: center; margin-top: 1rem;">
                <div style="margin-right: 1rem;">
                  <img src="assets/layout/images/footer/mail-svgrepo-com.png" style="height: 1rem;"/>
                </div>
                <div>Email: cskh@onehousing.vn</div>
              </div>
            </div>
          </div>
          <div class="col-4" style="color: #000; margin-top: 2rem;">
            <div class="grid flex w-full">
              <div class="col-4">
                <div style="font-size: 1.2rem; font-weight: 600;">Dịch vụ</div>
                <div>
                  <div class="info-text" style="color: #4c566a; margin-top: 2rem;">Tư vấn bán</div>
                  <div class="info-text" style="color: #4c566a; margin-top: 1rem;">Vay thế chấp</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Định giá căn nhà</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Thông tin dự án</div>
                </div>
              </div>
              <div class="col-4">
                <div style="font-size: 1.2rem; font-weight: 600;">Dịch vụ</div>
                <div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 2rem;">Tư vấn bán</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Vay thế chấp</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Định giá căn nhà</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Thông tin dự án</div>
                </div>
              </div>
              <div class="col-4">
                <div style="font-size: 1.2rem; font-weight: 600;">Dịch vụ</div>
                <div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 2rem;">Tư vấn bán</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Vay thế chấp</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Định giá căn nhà</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Thông tin dự án</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4" style="color: #000; margin-top: 2rem;">
            <div class="grid flex w-full">
              <div class="col-6">
                <div style="font-size: 1.2rem; font-weight: 600;">Dịch vụ</div>
                <div>
                  <div class="info-text" style="color: #4c566a; margin-top: 2rem;">Tư vấn bán</div>
                  <div class="info-text" style="color: #4c566a; margin-top: 1rem;">Vay thế chấp</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Định giá căn nhà</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Thông tin dự án</div>
                </div>
              </div>
              <div class="col-6">
                <div style="font-size: 1.2rem; font-weight: 600;">Dịch vụ</div>
                <div>
                  <div style="color: #4c566a;  margin-top: 2rem; display: flex; align-items: center;">
                    <span class="pi pi-facebook" style="margin-right: 1rem;"></span>
                    <div class="info-text">Facebook</div>
                  </div>
                  <div style="color: #4c566a;  margin-top: 1rem; display: flex; align-items: center;">
                    <span class="pi pi-instagram" style="margin-right: 1rem;"></span>
                    <div class="info-text">Instagram</div>
                  </div>
                  <div style="color: #4c566a;  margin-top: 1rem; display: flex; align-items: center;">
                    <span class="pi pi-youtube" style="margin-right: 1rem;"></span>
                    <div class="info-text">Youtube</div>
                  </div>
                  <div style="color: #4c566a;  margin-top: 1rem; display: flex; align-items: center;">
                    <span class="pi pi-facebook" style="margin-right: 1rem;"></span>
                    <div class="info-text">Spotify</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>

    
  </div>
</div>