<app-loading-page *ngIf="isLoadingPage"></app-loading-page>

<div style="height: 100%; display: block;">
    <p-menubar styleClass="bg-white" style="background: #fff;">
        <ng-template pTemplate="start">
          <a (click)="onClickHome()" style="cursor: pointer;">
            <img src="../../../assets/layout/images/k1.png" height="100" class="ml-4" style="margin-left: 2.2rem !important;"/>
          </a>
        </ng-template>
        <ng-template pTemplate="end">
          <app-topbar></app-topbar>
        </ng-template>
    </p-menubar>
    <!-- Hình ảnh căn hộ -->
    <div style="margin-left: 4rem; margin-right:4rem;">
        <div class="p-fluid p-formgrid">
            <div class="grid flex w-full mt-2">
                <div class="col-6" style="color: #000;">
                    <div>
                        <p-image src="../../../assets/layout/images/product/1.jpg" alt="Image" width="100%" [preview]="true"></p-image>
                    </div>
                </div>
                <div class="col-6" style="color: #000;">
                    <div class="grid flex w-full">
                        <div class="col-6">
                            <p-image src="../../../assets/layout/images/product/1585033148-can-ho-mau-athena-fulland.jpg" alt="Image" width="100%" [preview]="true" height="250rem"></p-image>
                        </div>
                        <div class="col-6">
                            <p-image src="../../../assets/layout/images/product/1585033149-can-ho-mau-charmington-iris.jpg" alt="Image" width="100%" [preview]="true" height="250rem"></p-image>
                        </div>
                        <div class="col-6">
                            <p-image src="../../../assets/layout/images/product/1585033149-can-ho-mau-cosmo-tay-ho.jpg" alt="Image" width="100%" [preview]="true" height="250rem"></p-image>
                        </div>
                        <div class="col-6">
                            <p-image src="../../../assets/layout/images/product/1585033152-can-ho-mau-ecolife-capital.jpg" alt="Image" width="100%" [preview]="true" height="250rem"></p-image>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

    <!-- Thông tin căn hộ -->
    <div style="margin-left: 4rem; margin-right:4rem; margin-top: 4rem;">
        <div class="grid flex w-full">
            <div class="col-9">
                <div style="display: flex; justify-content: space-between; align-items: baseline; font-weight: 600; color: #000;">
                  <!-- <div style="font-size: 2rem; font-weight: 600; color: #000;">Biệt thự hướng Nội khu - Chà Là - Vinhomes Ocean Park 2</div> -->
                  <div style="font-size: 2rem; font-weight: 600; color: #000;">{{productInfo.name}}</div>
                    <!-- <span style="font-size: 1.2rem;" class="pi pi-heart"></span> -->
                </div>

                <div style="margin-top: 1rem; cursor: pointer; color: #094bf4;">
                  <a (click)="onOrder($event)" style="cursor: pointer; display: flex;  align-items: center;">
                    <span class="pi pi-plus-circle" style="margin-right: 0.5rem; font-weight: 600;"></span>
                    <div style="font-size: 1.1rem; font-weight: 600;">Thêm căn hộ</div>
                  </a>
                  <!-- <span class="pi pi-plus-circle" style="margin-right: 0.5rem; font-weight: 600;"></span>
                  <div style="font-size: 1.1rem; font-weight: 600;">So sánh</div> -->
                </div>
                
                <!-- Tab view -->
                <div style="margin-top: 2rem;">
                    <p-tabView styleClass="custom-tabview" [(activeIndex)]="activeIndex" (onChange)="changeTab($event)">
                        <!-- pause tạm -->
                        <p-tabPanel [header]="'product'">
                            <ng-template pTemplate="header">
                                <span> Giá căn </span>
                            </ng-template>
                            <div style="font-size: 1.8rem; font-weight: 600;">Giá bán</div>
                            <div style="display: flex; justify-content: space-between; align-items: center; padding: 2rem 4rem;">
                                <div style="display: flex;">
                                    <div style="margin-right: 1rem;">
                                        <img src="../../../assets/layout/images/product/1.jpg" alt="" height="50">
                                    </div>
                                    <div style="display: flex; flex-direction: column; justify-content: space-between;">
                                        <div style="color: #6f6f6f; font-size: 1.3rem;">Giá thoả thuận</div>
                                        <div style="color: #000; font-weight: 600; font-size: 1.5rem; margin-top: 0.2rem;">{{ productInfo.price / 1000000000 | number :'1.0-2'}} tỷ</div>
                                        <div style="color: #6f6f6f; font-size: 1.3rem; margin-top: 0.2rem;">Đã bao gồm giải pháp tài chính</div>
                                    </div>
                                </div>
                                <div style="border-left: 1px solid #6f6f6f; height: 2.5rem;"></div>
                                <div style="display: flex;">
                                    <div style="margin-right: 1rem;">
                                        <img src="../../../assets/layout/images/product/1.jpg" alt="" height="50">
                                    </div>
                                    <div style="display: flex; flex-direction: column; justify-content: space-between;">
                                        <div style="color: #6f6f6f; font-size: 1.3rem;">Giá theo m<sup>2</sup></div>
                                        <div style="color: #000; font-weight: 600; font-size: 1.5rem; margin-top: 0.2rem;">{{ productInfo.unitPrice / 1000000 }}  triệu / m<sup>2</sup></div>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>

                        <!-- Tab mô tả căn nhà -->
                        <p-tabPanel [header]="'project'">
                          <ng-template pTemplate="header">
                              <span style="font-weight: 600;"> Mô tả căn nhà </span>
                          </ng-template>
                          <div style="font-size: 1.8rem; font-weight: 600;">Mô tả căn nhà</div>
                          <div class="grid flex w-full" style="margin-top: 2rem; justify-content: space-between;">
                            <div class="col-6" style="display: flex;">
                                <div class="col-6" style="display: flex; justify-content: space-between; align-items: center;">
                                    <div style="display: flex; align-items: center;">
                                        <div style="margin-right: 0.5rem;">
                                            <img src="../../../assets/layout/images/stairs-up-svgrepo-com (1).png" alt="" height="50">
                                        </div>
                                        <div style="display: flex; flex-direction: column; justify-content: space-between;">
                                            <div style="color: #6f6f6f;">Số tầng</div>
                                            <div style="color: #000; font-size: 1.3rem; margin-top: 0.2rem;">{{ productInfo.numberFloor}} tầng</div>
                                        </div>
                                    </div>
                                    <div style="border-left: 1px solid #6f6f6f; height: 2.5rem;"></div>
                                </div>
                                <div class="col-6" style="display: flex; justify-content: space-between; align-items: center;">
                                    <div style="display: flex; align-items: center;">
                                        <div style="margin-right: 0.5rem;">
                                            <img src="../../../assets/layout/images/product/icon/area-svgrepo-com (1).png" alt="" height="50">
                                        </div>
                                        <div style="display: flex; flex-direction: column; justify-content: space-between;">
                                            <div style="display: flex; align-items: center;">
                                                <div style="color: #6f6f6f; margin-right: 0.2rem;">Diện tích đất</div>
                                                <div class="tooltip">
                                                    <span class="pi pi-question-circle" style="color: #0000FF;"></span>    
                                                    <span class="tooltiptext">Diện tích khuôn viên đất được công nhận trên hồ sơ pháp lý</span>
                                                </div>
                                            </div>
                                            <div style="color: #000; font-size: 1.3rem; margin-top: 0.2rem;">{{ productInfo.landArea}}m<sup>2</sup></div>
                                        </div>
                                    </div>
                                    <div style="border-left: 1px solid #6f6f6f; height: 2.5rem;"></div>
                                </div>
                            </div>
                            <div class="col-6" style="display: flex;">
                                <div class="col-6" style="display: flex; justify-content: space-between; align-items: center;">
                                    <div style="display: flex; align-items: center;">
                                        <div style="margin-right: 0.5rem;">
                                            <img src="../../../assets/layout/images/product/icon/area-svgrepo-com (1).png" alt="" height="50">
                                        </div>
                                        <div style="display: flex; flex-direction: column; justify-content: space-between;">
                                            <div style="color: #6f6f6f;">Tổng diện tích sàn</div>
                                            <div style="color: #000; font-size: 1.3rem; margin-top: 0.2rem;">{{ productInfo.constructionArea}}<sup>2</sup></div>
                                        </div>
                                    </div>
                                    <div style="border-left: 1px solid #6f6f6f; height: 2.5rem;"></div>
                                </div>
                                <div class="col-6" style="display: flex; justify-content: space-between; align-items: center;">
                                    <div style="display: flex;  align-items: center;">
                                        <div style="margin-right: 0.5rem;">
                                            <img src="../../../assets/layout/images/product/icon/clipboard-list-svgrepo-com.png" alt="" height="50">
                                        </div>
                                        <div style="display: flex; flex-direction: column; justify-content: space-between;">
                                            <div style="color: #6f6f6f;">Tình trạng pháp lý</div>
                                            <div style="color: #000; margin-top: 0.2rem;"><span style="font-size: 1.3rem; margin-right: 0.2rem;">HĐMB</span>
                                                <div class="tooltip">
                                                    <span class="pi pi-question-circle" style="color: #0000FF;"></span>    
                                                    <span class="tooltiptextbottom">
                                                        HĐMB (hợp đồng mua bán) là thoả thuận bằng văn bản giữa bên mua và bên bán, chỉ được lập sau khi chủ đầu tư đã đáp ứng đủ các yêu cầu pháp luật để mở bán dự án. BĐS trước khi được cấp Giấy chứng nhận vẫn có thể được công chứng giao dịch bằng HĐMB hợp pháp.
                                                      </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div style="border-left: 1px solid #6f6f6f; height: 2.5rem;"></div> -->
                                </div>
                            </div>
                            
                          </div>
                           
                          <div class="grid flex w-full" style="margin-top: 2rem;">
                            <div class="col-6">
                                <div class="col-3" style="display: flex; justify-content: space-between; width: 100%; flex-direction: column; align-items: center;">
                                    <div style="display: flex; justify-content: space-between; width: 100%; font-size: 1.2rem;">
                                        <div>Vị trí căn</div>
                                        <div style="font-weight: 600;">{{ ProductConst.getLocationTypes(productInfo.productLocation)}}</div>
                                    </div>
                                    <div style="border-top: 1px solid #9e9e9e; width: 100%; margin-top: 2rem; margin-bottom: 1rem;"></div>
                                </div>
                                <div class="col-3" style="display: flex; justify-content: space-between; width: 100%; flex-direction: column; align-items: center;">
                                    <div style="display: flex; justify-content: space-between; width: 100%; font-size: 1.2rem;">
                                        <div>Hướng cửa</div>
                                        <div style="font-weight: 600;">{{ ProductConst.getDoorDirectionTypes(productInfo.doorDirection) }}</div>
                                    </div>
                                    <div style="border-top: 1px solid #9e9e9e; width: 100%; margin-top: 2rem; margin-bottom: 1rem;"></div>
                                </div>
                                <div class="col-3" style="display: flex; justify-content: space-between; width: 100%; flex-direction: column; align-items: center;">
                                    <div style="display: flex; justify-content: space-between; width: 100%; font-size: 1.2rem;">
                                        <div>Loại sản phẩm</div>
                                        <div style="font-weight: 600;">{{ ProductConst.getclassifyTypeName(productInfo.classifyType) }}</div>
                                    </div>
                                    <div style="border-top: 1px solid #9e9e9e; width: 100%; margin-top: 2rem; margin-bottom: 1rem;"></div>
                                </div>
                                <div class="col-3" style="display: flex; justify-content: space-between; width: 100%; flex-direction: column; align-items: center;">
                                    <div style="display: flex; justify-content: space-between; width: 100%; font-size: 1.2rem;">
                                        <div>Trạng thái sổ đỏ</div>
                                        <div style="font-weight: 600;">{{ ProductConst.getRedBookTypesName(productInfo.redBookType)}}</div>
                                    </div>
                                    <!-- <div style="border-top: 1px solid #9e9e9e; width: 100%; margin-top: 1rem; margin-bottom: 1rem;"></div> -->
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="col-3" style="display: flex; justify-content: space-between; width: 100%; flex-direction: column; align-items: center;">
                                    <div style="display: flex; justify-content: space-between; width: 100%; font-size: 1.2rem;">
                                        <div>Loại bàn giao</div>
                                        <div style="font-weight: 600;">{{ ProductConst.getHandingTypes(productInfo.handingType)}}</div>
                                    </div>
                                    <div style="border-top: 1px solid #9e9e9e; width: 100%; margin-top: 2rem; margin-bottom: 1rem;"></div>
                                </div>
                                <div class="col-3" style="display: flex; justify-content: space-between; width: 100%; flex-direction: column; align-items: center;">
                                    <div style="display: flex; justify-content: space-between; width: 100%; font-size: 1.2rem;">
                                        <div>Trạng thái căn hộ</div>
                                        <div style="font-weight: 600;">{{ ProductConst.getStatusListProducts(productInfo.status)}}</div>
                                    </div>
                                    <div style="border-top: 1px solid #9e9e9e; width: 100%; margin-top: 2rem; margin-bottom: 1rem;"></div>
                                </div>
                                <div class="col-3" style="display: flex; justify-content: space-between; width: 100%; flex-direction: column; align-items: center;">
                                    <div style="display: flex; justify-content: space-between; width: 100%; font-size: 1.2rem;">
                                        <div>Dự án</div>
                                        <div style="font-weight: 600;">{{ productInfo.projectName}}</div>
                                    </div>
                                    <div style="border-top: 1px solid #9e9e9e; width: 100%; margin-top: 2rem; margin-bottom: 1rem;"></div>
                                </div>
                                <div class="col-3" style="display: flex; justify-content: space-between; width: 100%; flex-direction: column; align-items: center;">
                                    <div style="display: flex; justify-content: space-between; width: 100%; font-size: 1.2rem;">
                                        <div>Mã bất động sản</div>
                                        <div style="font-weight: 600;">{{ productInfo.code}}</div>
                                    </div>
                                    <!-- <div style="border-top: 1px solid #9e9e9e; width: 100%; margin-top: 1rem; margin-bottom: 1rem;"></div> -->
                                </div>
                            </div>
                          </div>
                        </p-tabPanel>
                        
                        <!-- Tiện ích -->
                        <p-tabPanel [header]="'utility'">
                            <ng-template pTemplate="header">
                                <span style="font-weight: 600;"> Tiện ích </span>
                            </ng-template>
                            <div style="font-size: 1.8rem; font-weight: 600;">Tiện ích nội khu</div>
                            <div class="card md:flex md:justify-content-center" style="margin-top: 2rem;">
                                <p-galleria [autoPlay]="true" [circular]="true" [(value)]="images" [showIndicators]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOption" >
                                  <ng-template pTemplate="item" let-item>
                                    <div class="">
                                      <!-- <img class="" [src]="item.itemImageSrc" style="width: 100%; display: block;" /> -->
                                      <p-image [src]="item.itemImageSrc" alt="Image" width="100%" [preview]="true"></p-image>
                                    </div>
                                  </ng-template>
                                </p-galleria>
                              </div>
                        </p-tabPanel>
                    </p-tabView>
                </div>
                <div style="margin-top: 2rem; margin-bottom: 2rem;">
                    <div style="color: #000; font-size: 1.8rem; font-weight: 600;">Công cụ tính khoản vay</div>
                    <div class="grid flex w-full">
                        <div class="col-6">
                            <div class="p-inputgroup" style="width: 100%; margin-top: 1rem; margin-bottom: 1rem;">
                              <span class="p-float-label">
                                <input id="price" pInputText [(ngModel)]="productInfo.price" style="padding-top: 1rem; padding-bottom: 1rem;"
                                (keyup)="calculateLoanPriceFromPrice(productInfo.price)"/>
                                <label htmlFor="price">Giá trị bất động sản</label>
                              </span>
                                <span class="p-inputgroup-addon" style="width: 4rem; color: #bbbbbb; font-size: 1.2rem;">đ</span>
                            </div>
                            <div style="display: flex;">
                                <div class="p-inputgroup" style="width: 100%; margin-top: 1rem; margin-bottom: 1rem;">
                                  <span class="p-float-label">
                                    <input id="loanPrice" [(ngModel)]="loanPrice"  pInputText style="padding-top: 1rem; padding-bottom: 1rem;"
                                    (keyup)="calculateLoanRateFromLoanPrice(loanPrice)"/>
                                    <!-- <p-inputNumber 
                                        [(ngModel)]="loanPrice" placeholder="Số tiền vay" class="b-disabled"
                                        (onInput)="calculateLoanRateFromLoanPrice(loanPrice)" locale="de-DE"
                                        >
                                    </p-inputNumber> -->
                                    <label htmlFor="loanPrice">Số tiền vay</label>
                                  </span>
                                  <span class="p-inputgroup-addon" style="width: 4rem; color: #bbbbbb; font-size: 1.2rem; border-top-right-radius: 0; border-bottom-right-radius: 0;">đ</span>
                                </div>
                                <div class="p-inputgroup" style="width: 100%; margin-top: 1rem; margin-bottom: 1rem;">
                                  <span class="p-float-label">
                                    <input id="loanRate" (keyup)="calculateLoanPriceFromLoanRate(loanRate)"  [(ngModel)]="loanRate" pInputText style="padding-top: 1rem; padding-bottom: 1rem; border-top-left-radius: 0; border-bottom-left-radius: 0;"/>
                                    <label htmlFor="loanRate">Tỷ lệ vay</label>
                                  </span>
                                  <span class="p-inputgroup-addon" style="width: 4rem; color: #bbbbbb; font-size: 1.2rem;">%</span>
                                </div>
                            </div>
                            <div class="p-inputgroup" style="width: 100%; margin-top: 1rem; margin-bottom: 1rem;">
                              <span class="p-float-label">
                                <input id="loanDuration" [(ngModel)]="loanDuration" pInputText style="padding-top: 1rem; padding-bottom: 1rem;"
                                (keyup)="calculateLoanDuration(loanDuration)"/>
                                <label htmlFor="loanDuration">Thời hạn vay</label>
                              </span>
                              <span class="p-inputgroup-addon" style="width: 4rem; color: #bbbbbb; font-size: 1.2rem;">năm</span>
                            </div>
                            <div class="p-inputgroup" style="width: 100%; margin-top: 1rem; margin-bottom: 1rem;">
                              <span class="p-float-label">
                                <input id="interestRate" [(ngModel)]="interestRate" pInputText style="padding-top: 1rem; padding-bottom: 1rem;"
                                (keyup)="calculateInterestRate(interestRate)"/>
                                <label htmlFor="interestRate">Lãi suất hàng năm</label>
                              </span>
                              <span class="p-inputgroup-addon" style="width: 4rem; color: #bbbbbb; font-size: 1.2rem;">%</span>
                            </div>
                        </div>
                        <div class="col-6" style="background: linear-gradient(180deg,#f3f3f3,#fff);">
                            <div style="text-align: center; margin-top: 2rem; font-size: 1.3rem; color: #000; font-weight: 600;">Khoản thanh toán hàng tháng</div>
                            <div style="display: flex; justify-content: space-between; margin: 2rem 4rem;">
                                <button class="btn-p1-p2">Cố định</button>
                                <button class="btn-p1-p2">Giảm dần</button>
                            </div>
                            <div>
                                <div style="display: flex; justify-content: space-between; background-color: #fff; height: 10rem; margin: 2rem 4rem; padding: 2rem 2rem;">
                                    <div>Hàng tháng</div>
                                    <div style="font-size: 1.2rem; color: #094bf4; font-weight: 600;">{{monthlyPay | number :'1.0-2'}}đ<span style="color: #6f6f6f; font-size: 1rem;">/tháng</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Tab view -->
                <!-- <div style="margin-top: 2rem;">
                    <div style="font-size: 1.8rem; font-weight: 600; margin-bottom: 2rem;">Gần đây</div>
                    <p-tabView styleClass="custom-tabview" [(activeIndex)]="activeIndexPlus" (onChange)="changeTabRecent($event)">
                        <p-tabPanel [header]="'recently'" *ngIf="isGranted([PermissionRealStateConst.RealStateMoBan_ThongTinChung])">
                            <ng-template pTemplate="header">
                                <span> Căn vừa xem </span>
                            </ng-template>
                            <div style="height: 50vh;">
                                <div style="display: flex; justify-content: center; margin-top: 3rem; margin-bottom: 4rem;">
                                  <p-button label="Xem thêm" styleClass="p-button-raised p-button-lg px-5 py-3"></p-button>
                                </div>
                              </div>
                        </p-tabPanel>
                        <p-tabPanel [header]="'favourite'" *ngIf="isGranted([PermissionRealStateConst.RealStateMoBan_ThongTinChung])">
                          <ng-template pTemplate="header">
                              <span style="font-weight: 600;"> Căn yêu thích </span>
                          </ng-template>
                          <div style="height: 50vh;">
                            <div style="display: flex; justify-content: center; margin-top: 3rem; margin-bottom: 4rem;">
                              <p-button label="Xem thêm" styleClass="p-button-raised p-button-lg px-5 py-3"></p-button>
                            </div>
                          </div>
                        </p-tabPanel>
                    </p-tabView>
                </div> -->
            </div>
            <div class="col-3"></div>
        </div>
    </div>

    <!-- Footer -->
  <div style="background-color: rgba(0,0,0,0.04);">
    <div style="margin-left: 4rem; margin-right:4rem; margin-top: 2rem; padding-bottom: 2rem;">
      <div class="p-fluid p-formgrid">
        <div class="grid flex w-full mt-2">
          <div class="col-4" style="color: #000; margin-top: 2rem;">
            <div>
              <img src="../../assets/layout/images/k1.png" height="100"/>
            </div>
            <div>
              <div style="display: flex; align-items: center; margin-top: 1rem;">
                <div style="margin-right: 1rem;">
                  <img src="assets/layout/images/footer/location-pin-svgrepo-com.png" style="height: 1rem;"/>
                </div>
                <div>Tầng 1, Tòa văn phòng T26, KĐT Times City, 458 Minh Khai, Phường Vĩnh Tuy, Quận Hai Bà Trưng, Thành phố Hà Nội</div>
              </div>
              <div style="display: flex; align-items: center; margin-top: 1rem;">
                <div style="margin-right: 1rem;">
                  <img src="assets/layout/images/footer/headphone-alt-svgrepo-com.png" style="height: 1rem;"/>
                </div>
                <div>Hotline: 1800 646 466</div>
              </div>
              <div style="display: flex; align-items: center; margin-top: 1rem;">
                <div style="margin-right: 1rem;">
                  <img src="assets/layout/images/footer/mail-svgrepo-com.png" style="height: 1rem;"/>
                </div>
                <div>Email: cskh@onehousing.vn</div>
              </div>
            </div>
          </div>
          <div class="col-4" style="color: #000; margin-top: 2rem;">
            <div class="grid flex w-full">
              <div class="col-4">
                <!-- <div style="font-size: 1.2rem; font-weight: 600;">Dịch vụ</div>
                <div>
                  <div class="info-text" style="color: #4c566a; margin-top: 2rem;">Tư vấn bán</div>
                  <div class="info-text" style="color: #4c566a; margin-top: 1rem;">Vay thế chấp</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Định giá căn nhà</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Thông tin dự án</div>
                </div> -->
              </div>
              <div class="col-4">
                <!-- <div style="font-size: 1.2rem; font-weight: 600;">Dịch vụ</div>
                <div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 2rem;">Tư vấn bán</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Vay thế chấp</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Định giá căn nhà</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Thông tin dự án</div>
                </div> -->
              </div>
              <div class="col-4">
                <!-- <div style="font-size: 1.2rem; font-weight: 600;">Dịch vụ</div>
                <div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 2rem;">Tư vấn bán</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Vay thế chấp</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Định giá căn nhà</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Thông tin dự án</div>
                </div> -->
              </div>
            </div>
          </div>
          <div class="col-4" style="color: #000; margin-top: 2rem;">
            <div class="grid flex w-full">
              <div class="col-6">
                <!-- <div style="font-size: 1.2rem; font-weight: 600;">Dịch vụ</div>
                <div>
                  <div class="info-text" style="color: #4c566a; margin-top: 2rem;">Tư vấn bán</div>
                  <div class="info-text" style="color: #4c566a; margin-top: 1rem;">Vay thế chấp</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Định giá căn nhà</div>
                  <div class="info-text" style="color: #4c566a;  margin-top: 1rem;">Thông tin dự án</div>
                </div> -->
              </div>
              <div class="col-6">
                <div style="font-size: 1.2rem; font-weight: 600;">Về chúng tôi</div>
                <div>
                  <div style="color: #4c566a;  margin-top: 2rem; display: flex; align-items: center;">
                    <span class="pi pi-facebook" style="margin-right: 1rem;"></span>
                    <div class="info-text">Facebook</div>
                  </div>
                  <div style="color: #4c566a;  margin-top: 1rem; display: flex; align-items: center;">
                    <span class="pi pi-instagram" style="margin-right: 1rem;"></span>
                    <div class="info-text">Instagram</div>
                  </div>
                  <div style="color: #4c566a;  margin-top: 1rem; display: flex; align-items: center;">
                    <span class="pi pi-youtube" style="margin-right: 1rem;"></span>
                    <div class="info-text">Youtube</div>
                  </div>
                  <div style="color: #4c566a;  margin-top: 1rem; display: flex; align-items: center;">
                    <span class="pi pi-facebook" style="margin-right: 1rem;"></span>
                    <div class="info-text">Spotify</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>

    
  </div>
</div>

