<div class="login-body" [ngClass]="{'layout-dark': dark, 'layout-light': !dark}">
    <div class="login-content">
        <div class="night-switch">
            <p-button styleClass="dark-switch"  icon="pi pi-circle-on" (click)="dark = true"></p-button>
            <p-button styleClass="light-switch"  icon="pi pi-circle-off" (click)="dark = false"></p-button>
        </div>
        <div class="login-panel">
            <div class="login-panel-content">
                <div class="logo">
                    <img src="assets/layout/images/logo-mirage@2x.png" alt="mirage-layout" />
                </div>
                <h1>Xin chào!</h1>
                <p>Đăng ký để bắt đầu công việc của bạn.</p>
                <div class="forms">
                    <div class="login-input-wrapper mb-1">
                        <label for="username">Tên khách hàng</label>
                        <!-- <input id="username" #username pInputText (keyup.enter)="login()" [(ngModel)]="authService.authenticateModel.username" placeholder="Tài khoản" /> -->
                        <input id="username" #username pInputText [(ngModel)]="register.name"  placeholder="Tài khoản" />
                        <i class="pi pi-user"></i>
                    </div>

                    <div class="login-input-wrapper mt-4">
                        <label for="password">Mật khẩu</label>
                        <input type="password" id="password" [(ngModel)]="register.password" pPassword  placeholder="Mật khẩu" [feedback]="false"/>
                        <i class="pi pi-lock"></i>
                    </div>
                    <div class="login-input-wrapper mt-4">
                        <label for="phone">Số điện thoại</label>
                        <input type="text" id="phone" pInputText [(ngModel)]="register.phone"  placeholder="Số điện thoại"/>
                        <i class="pi pi-phone"></i>
                    </div>
                    <div class="login-input-wrapper mt-4">
                        <label for="email">Email</label>
                        <input type="text" id="email" [(ngModel)]="register.email" pInputText  placeholder="Email"/>
                        <i class="pi pi-envelope"></i>
                    </div>
                    
                    <div class="buttons">
                        <button pButton type="button" (click)="onClickLogin()" label="Quay lại" [disabled]="submitting" style="margin-top: 0 !important;"></button>
                        <div style="display: flex; align-items: flex-end; flex-direction: column;">
                            <button pButton type="button" (click)="save($event)" label="Đăng ký" [disabled]="submitting" style="margin-top: 0 !important;"></button>
                            <!-- <a href="#" class="secondary-button">Quên mật khẩu?</a>
                            <div>
                                Chưa có tài khoản
                                <a href="#" class="secondary-button">Đăng ký</a>

                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="desert"></div>
    </div>
</div>
